<%= render partial: 'shared/page_title', locals: {:title_key => 'hub.confirmation.title'} %>
<% content_for :feedback_source, 'CONFIRMATION_PAGE' %>

<h1 class="heading-large"><%= t 'hub.confirmation.heading', display_name: @idp_name %></h1>
<p><%= t 'hub.confirmation.message' %></p>
<div class="actions">
  <%= link_to @transaction_name.capitalize, response_processing_path, class: 'button', id:'next-button' %>
</div>
