<%= page_title 'hub.select_proof_of_address.title' %>
<% content_for :feedback_source, 'PROOF_OF_ADDRESS' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.select_proof_of_address.title' %></h1>
    <p><%= t 'hub.select_proof_of_address.sub_heading' %></p>
    <div class="panel panel-border-narrow">
      <%= t 'hub.select_proof_of_address.highlight' %>
    </div>
  </div>
</div>