// Dialog
// ==========================================================================

// Override browser defaults for dialog
dialog {
  background: $white;
  position: static;
  border: none;
  padding: 0;
  text-align: left;
  margin: 0;

  .heading-medium {
    margin-top: 0;
  }
}

dialog:not([open]) {
  display: block;
}

dialog::backdrop {
  display: none;
}

.js-enabled dialog { display: none;}
.js-enabled dialog[open] { display: block;}
.js-enabled dialog:not([open]) { display: none;}

// Set dialog size
.js-enabled dialog {

  @include box-sizing(border-box);

  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;

  border: 1px solid $grey-1;

  @include media (tablet) {

    position: fixed;
    top: 0;
    left: 50%;

    width: 600px;
    margin-top: 30px;
    margin-left: -300px;

    max-height: 90%;
    overflow-y: auto;
  }

  @include ie(6) {
    position: absolute;
    margin-top: 0;
    top: 30px;
  }

}

.js-enabled .dialog-backdrop {
  $semi-transparent-background: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  // scss-lint:disable DuplicateProperty
  // Fallback for browsers that don't support RGBA
  background-color: $white transparent;

  // RGBA with 0.7 opacity
  background-color: $semi-transparent-background;
  // scss-lint:enable DuplicateProperty

  // IE 8
  @include ie(8) {
    background-color: $white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  // IE7 and below
  @include ie-lte(7) {
    background-color: $white;
    filter: alpha(opacity = 50);
    zoom: 1;
  }

  @include ie(6) {
    display: none;
  }
}

.js-enabled .dialog-inner {
  padding: 15px;
  position: relative;

  @include media (tablet) {
    padding: 30px;
  }
}

.js-enabled .dialog-close {
  position: absolute;
  right: 15px;
  top: 15px;

  @include media (tablet) {
    right: 30px;
    top: 30px;
  }
}

// Dialog content
dialog .subtitle {
  color: $secondary-text-colour;
}

dialog ul,
dialog ol {
  padding: 0;
  margin-bottom: $gutter-half;

  @include media(tablet) {
    margin-bottom: $gutter;
  }

  li {
    margin-bottom: em(5, 19);
  }
}


// Bulleted lists
dialog ul {
  padding: 0;

  li {
    list-style-type: disc;
    margin-left: em(20, 19);
  }
}

// Numbered lists
dialog ol {
  list-style-type: decimal;
  margin-left: em(25, 19);
}
