.button {
  margin: 0 15px 15px 0;
}

.button-link {
  @include core-19;
  background: none;
  color: $link-colour;
  text-align: left;
  text-decoration: underline;
  border: 0;
  padding-left: 0;
  cursor: pointer;
}

.button-link:hover {
  color: $link-hover-colour;
  border-color: $link-hover-colour;
}

.subtitle {
  color: $secondary-text-colour;
}
