.country-picker {

  .country-flag {
    width: 11%;
    min-width: 49px;
    display: inline-block;
    vertical-align: middle;

    img {
      max-width: 40px;
      max-height: 30px;
      box-shadow: 0 0 2px govuk-colour("mid-grey");
    }
  }

  .country-name {
    width: 35%;
    display: inline-block;
    vertical-align: middle;

    p {
      margin: 0;
    }
  }

  .scheme-logo {
    width: 40%;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    img {
      max-width: 100px;
      max-height: 55px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding-bottom: 10px;
    }
  }

  .scheme-button {
    width: 100%;

    button {
      margin: 0;
      width: 100%;
      vertical-align: middle;
    }
  }

  .country-option {
    max-width: 670px;
    border-bottom: 1px solid govuk-colour("dark-grey");

    	@include govuk-media-query($from: tablet) {
      border-bottom: 1px solid govuk-colour("mid-grey");

      .scheme-option:not(:first-child) {
        .country-flag,
        .country-name {
          visibility: hidden;
        }
      }
    }

    &:last-child {
      border: none;
    }
  }

  .scheme-option {
    padding-bottom: 20px;

    	@include govuk-media-query($from: tablet) {
      padding-top: 12px;
      padding-bottom: 7px;

      .scheme-button {
        display: inline-block;
        vertical-align: middle;
        width: 34%;
      }
    }

    &:not(:last-child) {
      @include govuk-media-query($from: mobile) {
        border-bottom: 1px solid govuk-colour("dark-grey");
      }
    }
  }

  .scheme-info {
    width: 100%;
    height: 125px;
    display: inline-block;

    @include govuk-media-query($from: tablet) {
      width: 65%;
      height: unset;

      .country-flag {
        width: 16%;

        img {
          vertical-align: middle;
        }
      }

      .country-name {
        width: 41%;
      }

      .scheme-logo {
        width: 40%;
        line-height: 45px;
        margin-bottom: 10px;

        .scheme-logo-img-container {
          width: 100px;
          text-align: center;
        }

        img {
          padding: 0;
          position: relative;
          vertical-align: middle;
        }
      }
    }
  }
}
