.button {
  margin: 0 15px 15px 0;
}

.button-link {
  @include govuk-font(19);
  background: none;
  color: $govuk-link-colour;
  text-align: left;
  text-decoration: underline;
  border: 0;
  padding-left: 0;
  cursor: pointer;
}

.button-link:hover {
  color: $govuk-link-hover-colour;
  border-color: $govuk-link-hover-colour;
}

.subtitle {
  color: $govuk-secondary-text-colour;
}
