// Company
// Used the sign-in page
// =====================

.company-wrapper {
  &.clear-left {
    clear: left;
  }
}

.company {
  border-bottom: 1px solid $govuk-border-colour;
  text-align: center;
  @include govuk-media-query($until: tablet);
  @include govuk-media-query($from: tablet) {
    border: 5px solid $govuk-brand-colour;
    margin-bottom: 30px;
  }
}

.company-full-width {
  padding: 0 15px;
}

.company.no-underline {
  border-bottom: none;
  padding-bottom: 30px;

  @include govuk-media-query($until: tablet);
  @include govuk-media-query($from: tablet) {
    border: 5px solid $govuk-brand-colour;
    margin-bottom: 30px;
  }
}

.company-inner {
  padding: 5px 0 18px;

  @include govuk-media-query($until: tablet);
  @include govuk-media-query($from: tablet) {
    padding: 20px;
  }
}


.company-logo {
  position: relative;
  width: 50%;
  padding-bottom: 25%;
  margin: 0 auto 15px;

  @include govuk-media-query($until: tablet);
  @include govuk-media-query($from: tablet) {
    margin: 0 auto 15px;
    width: 80%;
    padding-bottom: 40%;
  }
}

.company-logo-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.company-logo-inner {
  img,
  input[type="image"] {
    max-width: 100%;
  }
}

.company .govuk-button {
  margin: 0 0 20px;

  @include govuk-media-query($until: mobile);
  @include govuk-media-query($from: mobile) {
    width: 65%;
  }
}

.company dialog .govuk-button {
  margin: 0 0 15px;
}

.company-about {
  @include govuk-font(16);
  margin-bottom: 0;
}

.company-disconnect-text {
  text-align: left;
}

.idp-choice {
  padding: 15px 0;
  border-bottom: 1px solid govuk-colour("dark-grey");
  	@include govuk-clearfix;

  .company-logo {
    width: auto;
    padding: 0;
    text-align: center;

    input[type="image"] {
      cursor: pointer;
      width: 67.5%;
    }

  }

  @include govuk-media-query($until: tablet);
  @include govuk-media-query($from: tablet) {
    padding-left: 230px;
    min-height: 96px;
    position: relative;

    .company-logo {
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 200px;
      height: 96px;

      	@include govuk-if-ie8 {
        top: 15px;
      }
    }
  }

  @include govuk-media-query($until: mobile);
  @include govuk-media-query($from: mobile) {
    .company-logo {
      input[type="image"] {
        width: 140px;
        height: 70px;
      }

      .company-about {
        width: 45%;
        margin-top: 30px;
        margin-left: 10px;
        float: left;
      }

      .company-logo-img-container {
        width: 50%;
        float: left;
      }
    }

    button {
      width: 65%;
    }
  }



  .idp-option {
    text-align: center;

    @include govuk-media-query($until: tablet);
    @include govuk-media-query($from: tablet) {
      text-align: left;
    }

    .govuk-button,
    .button-link {
      margin-top: 30px;
      text-align: center;

      @include govuk-media-query($until: tablet);
      @include govuk-media-query($from: tablet) {
        min-width: 230px;

        	@include govuk-if-ie8 {
          min-width: 260px;
        }
      }

      @include govuk-media-query($until: mobile);
      @include govuk-media-query($from: mobile) {
        margin-top: 5px;
      }
    }

    .company-app-install {
      display: inline-block;
      margin-top: 40px;
    }
  }
}

.large-top {
  margin-top: 2em;
  margin-bottom: 0;
}
