// Company
// Used the sign-in page and sign-in hint
// ======================================

.company-wrapper {
  &.clear-left {
    clear: left;
  }
}

.company {
  border-bottom: 1px solid $govuk-border-colour;
  text-align: center;

  &.no-border {
    border: none;
  }

  &.no-border-mobile {
    @include govuk-media-query($until: tablet) {
      border: none;
    }
  }

  @include govuk-media-query($from: tablet) {
    border: 5px solid $govuk-border-colour;
    margin-bottom: 30px;
  }

  @include govuk-media-query($until: tablet) {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
}

.company-full-width {
  padding: 0 15px;
}

.company.no-underline {
  border-bottom: none;
  padding-bottom: 30px;

  @include govuk-media-query($from: tablet) {
    border: 5px solid $govuk-brand-colour;
    margin-bottom: 30px;
  }
}

.company-inner {
  @include govuk-media-query($from: tablet) {
    padding: 20px;
  }
}

.company-logo {
  width: 50%;
  margin: 0 auto;

  @include govuk-media-query($from: tablet) {
    position: relative;
    width: 80%;
    padding-bottom: 40%;
  }
}

.company-logo-inner {
  @include govuk-media-query($from: tablet) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.company-logo-inner {
  img,
  input[type="image"] {
    max-width: 100%;
  }
}

.idp-list .company-logo-inner {
  @include govuk-media-query($from: tablet) {
    img,
    input[type="image"] {
      max-height: 100px;
    }
  }
}

.company .govuk-button {
  width: 100%;
  margin-top: 11px;

  @include govuk-media-query($from: tablet) {
    margin: 20px 0 10px 0;
  }
}

.company-about {
  @include govuk-font(16);
  margin-bottom: 0;
}

.company-disconnect-text {
  text-align: left;
}

.company-choice {
  text-align: left;
  padding: 15px 0;
  border-bottom: 1px solid govuk-colour("dark-grey");
  @include govuk-clearfix;

  &.no-border {
    border: none;
  }

  .company-logo {
    width: auto;
    padding: 0;
    text-align: center;

    input[type="image"] {
      cursor: pointer;
      width: 67.5%;
    }
  }

  @include govuk-media-query($from: tablet) {
    padding-left: 230px;
    min-height: 96px;
    position: relative;

    .company-logo {
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 200px;
      height: 96px;
    }
  }

  @include govuk-media-query($from: mobile) {
    text-align: center;

    .company-logo {
      input[type="image"] {
        width: 140px;
        height: 70px;
      }

      .company-about {
        width: 45%;
        margin-top: 30px;
        margin-left: 10px;
        float: left;
      }

      .company-logo-img-container {
        width: 50%;
        float: left;
      }
    }

    button {
      width: 65%;
    }
  }


  .company-option {
    text-align: center;

    @include govuk-media-query($from: tablet) {
      text-align: left;
    }

    .govuk-button,
    .button-link {
      margin-top: 30px;
      text-align: center;

      @include govuk-media-query($from: tablet) {
        min-width: 230px;

        @include govuk-if-ie8 {
          min-width: 260px;
        }
      }

      @include govuk-media-query($until: mobile) {
        margin-top: 5px;
      }
    }

    .company-app-install {
      display: inline-block;
      margin-top: 40px;
    }
  }
}

// --- Custom ---

.idp-box {
  padding: 25px 0 30px 25px;
  border-bottom: 1px solid govuk-colour("dark-grey");

  &.no-border {
    border: none;
  }

  &.no-border-mobile {
    @include govuk-media-query($until: tablet) {
      border: none;
    }
  }

  @include govuk-media-query($from: tablet) {
    padding: 20px 20px 30px 20px;
    border: 5px solid $govuk-border-colour;
  }
}

.idp-option-button {
  margin: 20px 0 0 0;
}

.idp-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.idp-image {
  margin: auto;
  max-width: 45%;

  @include govuk-media-query($from: tablet) {
    max-width: 80%;
  }
}

.idp-box-row {
  @include govuk-media-query($from: tablet) {
    margin-bottom: 30px;
  }
}

.idp-box-column {
  @include govuk-media-query($until: tablet) {
    padding: 0 30px;
  }
}

.disconnected-company-logo {
  text-align: center;

  img {
    max-width: 50%;
  }

  @include govuk-media-query($from: tablet) {
    text-align: right;

    img {
      max-width: 70%;
      padding-right: 20px;
    }
  }
}
