.logos-container {
  margin-top: em(20, 16);

  .list-logos {

    li {
      padding: 0 20px 0 20px;
      width: 50%;
      box-sizing: border-box;
      display: inline-block;

      @include govuk-media-query($from: tablet) {
        max-width: 200px;
      }

      &.verify {
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: $govuk-border-colour;
      }

      &.verify:last-child {
        border-right-style: none;
      }
    }

    img {
      width: 100%;
    }
  }
}
