.list-logos {

  li {
    @include inline-block;
    padding: 0 20px 0 20px;
    width: 50%;

    @include media (tablet) {
      width: 24%;
    }
  }

  img {
    width: 100%;
  }
}

.verify {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: $border-colour;
}
