.select-documents-form {

  fieldset {
    legend {
      @include bold-19;
      margin-bottom: $gutter;
    }

    .form-group {
      margin: 0 0 15px;

      .inline {
        border-bottom: 1px solid $grey-1;
        padding: 0 0 15px;

        @include media (tablet) {
          white-space: nowrap;
        }

        >span {
          display: inline-block;
          vertical-align: middle;
          width: 50%;
          margin: 0 10px 0 0;

          @include media (tablet) {
            white-space: normal;
          }

          @include media (mobile) {
            display: block;
            margin: 0 0 5px;
            width: 100%;
          }
        }

        .multiple-choice {
          float: none;
          vertical-align: middle;
          display: inline-block;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .valid-note {
    margin-bottom: $gutter;
  }
}
