.select-documents-form {

  fieldset {
    legend {
      @include bold-19;
    }
  }

  .valid-note {
    margin-bottom: $gutter;
  }

  .form-date {
    .form-group-error {
      border-left: 0;
      padding-left: 0;
    }
  }

}
