// Slides layout
// ==========================================================================

.slides {

  background-color: $govuk-brand-colour;
  color: govuk-colour("white");

  margin-top: $govuk-gutter-half;
  margin-bottom: $govuk-gutter-half;

  @include govuk-media-query($from: tablet) {
    margin-top: $govuk-gutter;
  }

  min-height: 480px;

  padding: $govuk-gutter;

  @include govuk-media-query($from: tablet) {
    padding: $govuk-gutter * 1.5;
  }

  @include govuk-media-query($from: desktop) {
    padding: 75px 70px;
  }

  h1 {
    @include govuk-media-query($from: mobile) {
      margin-top: $govuk-gutter-half;
      margin-bottom: $govuk-gutter-half;
    }
    @include govuk-media-query($until: mobile) {
      margin-top: $govuk-gutter-half;
      margin-bottom: $govuk-gutter-half;
    }

    margin-top: 0;
    margin-bottom: $govuk-gutter;
  }

  p,
  ul {
    @include govuk-font(24)
  }

  a,
  a:focus,
  a:hover,
  a:active {
    color: inherit;
  }

  // Override elements radio button colour for start page
  // This should be tested to work out whether it
  // performs better with the override or without.
  .multiple-choice > label {
    &::before,
    &::after {
      background-color: govuk-colour("white");
      border-color: $govuk-text-colour;
    }
  }

  .actions {
    margin: $govuk-gutter 0 $govuk-gutter-half;

    .button {
      background: govuk-colour("white");
      color: $govuk-brand-colour;
      font-weight: bold;
      box-shadow: 0 2px 0 darken($govuk-brand-colour, 15%);
    }
  }

  .small-details {
    @include govuk-font(19)
  }

  // slides-verify-logo is used to wrap the logo
  .slides-verify-logo {
    max-width: 200px;
    margin-top: 20px;

    img {
      width: 100%;
    }

    @include govuk-media-query($until: mobile) {
      width: 140px;
    }
  }

  details {
    summary {
      color: govuk-colour("white");
    }

    .panel {
      border-left-color: govuk-colour("white");
    }

    p,
    ul {
      font-size: 1em;
    }
  }
}

.hide-mobile {
  @include govuk-media-query($until: mobile) {
    display: none;
  }
}

.show-mobile {
  @include govuk-media-query($from: desktop) {
    display: none;
  }
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

// Hub - Start page
// ==========================================================================

.hub-start {

  .form-group-error,
  .validation-message {
    border-color: govuk-colour("white");
    color: inherit;

    .form-group-error:focus {
      color: inherit;
    }
  }

  .multiple-choice {
    @include govuk-font(24)
  }

}

// About certified companies
.list-companies {
  margin-bottom: $govuk-gutter-half;
  text-align: center;

  li {
    width: 49%;
    display: inline-block;

    @include govuk-media-query($from: tablet) {
      width: 25%;
      margin-left: $govuk-gutter-half;
      margin-right: $govuk-gutter-half;
    }
  }

  img {
    width: 100%;
  }
}
