// Slides layout
// ==========================================================================

.slides {

  background-color: $mainstream-brand;
  color: $white;

  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  @include media(tablet) {
    margin-top: $gutter;
  }

  @include box-sizing(border-box);

  min-height: 480px;

  padding: $gutter;

  @include media(tablet) {
    padding: $gutter * 1.5;
  }

  @include media(desktop) {
    padding: 75px 70px;
  }

  h1 {
    @include media (mobile) {
      margin-top: $gutter-half;
      margin-bottom: $gutter-half;
    }

    margin-top: 0;
    margin-bottom: $gutter;
  }

  p,
  ul {
    @include core-24;
  }

  a,
  a:focus,
  a:hover,
  a:active {
    color: inherit;
  }

  // Override elements radio button colour for start page
  // This should be tested to work out whether it
  // performs better with the override or without.
  .multiple-choice > label {
    &::before,
    &::after {
      background-color: $white;
      border-color: $text-colour;
    }
  }

  .actions {
    margin: $gutter 0 $gutter-half;

    .button {
      background: $white;
      color: $mainstream-brand;
      font-weight: bold;
    }
  }

  .small-details {
    @include core-19;
  }

  // Figure is used to wrap the logo
  figure {
    max-width: 200px;

    img {
      width: 100%;
    }

    @include media(mobile) {
      width: 140px;
    }
  }

  details {
    summary {
      color: $white;
    }

    .panel {
      border-left-color: $white;
    }

    p,
    ul {
      font-size: 1em;
    }
  }
}

.hide-mobile {
  @include media(mobile) {
    display: none;
  }
}

.show-mobile {
  @include media(tablet, desktop) {
    display: none;
  }
}

// Hub - Start page
// ==========================================================================

.hub-start {

  .form-group-error,
  .validation-message {
    border-color: $white;
    color: inherit;
  }

  .multiple-choice {
    @include core-24;
  }

}

// About certified companies
.list-companies {
  margin-bottom: $gutter-half;

  @include media(mobile) {
    text-align: center;
  }

  li {
    @include inline-block;
    width: 49%;

    @include media (tablet) {
      width: 24%;
    }
  }

  img {
    width: 100%;
  }
}
