<% content_for :body_classes, 'hub-start' %>
Who do you have an identity account with?
<ul>
  <% @list.each do |idp| -%>
  <li><%= image_tag idp.logo_path %><%= idp.display_name %></li>
  <% end -%>
</ul>
