<%= page_title 'hub_variant_c.select_documents.title' %>
<% content_for :feedback_source, 'PROVE_YOUR_IDENTITY_ANOTHER_WAY_PAGE' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("hub_variant_c.select_documents_advice.what_to_do_next.prove_your_identity_link").capitalize %></h1>
    <%= t 'hub_variant_c.select_documents_advice.what_to_do_next.sub_heading_html', service_name: @service_name %>

    <%= render partial: 'shared/other_ways', locals: {other_ways_text: @other_ways_text, other_ways_description: @other_ways_description} %>
  </div>
</div>
