<h1 class="govuk-heading-l"><%= raw transaction.custom_fail_heading  %></h1>

<p class="govuk-body"><%= raw(transaction.custom_fail_what_next_content % { idp_name: idp.display_name }) %></p>

<h2 class="govuk-heading-m">
  <%= raw transaction.custom_fail_other_options %>
</h2>

