<h2 class="govuk-heading-m"><%= t 'hub.failed_registration.remaining_idps.heading' %></h2>

<p><%= t 'hub.failed_registration.remaining_idps.text' %></p>

<p><%= link_to t('hub.failed_registration.remaining_idps.link_text'), choose_a_certified_company_path %></p>

<h2 class="govuk-heading-m"><%= t 'hub.failed_registration.remaining_idps.different_way', service:  @transaction.name %></h2>
