<%= page_title 'hub.failed_registration.title' %>
<% content_for :feedback_source, 'FAILED_REGISTRATION_PAGE' %>

<h1>FAILED DECISION PAGE</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <% if @custom_fail %>
        <%= render partial: 'failed_registration/custom_failed_registration', locals: {idp: @idp, transaction: @transaction, start_again_path: select_documents_path} %>
    <% else %>
        <%= render partial: 'failed_registration/non_continue_rp', locals: {idp: @idp, transaction: @transaction, start_again_path: select_documents_path} %>
    <% end %>
  </div>
</div>
