<%= page_title 'hub.failed_registration.title' %>
<% content_for :feedback_source, 'FAILED_REGISTRATION_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render partial: 'non_continue_rp', locals: {idp: @idp, transaction: @transaction, start_again_path: select_documents_path} %>
  </div>
</div>
