<%= page_title 'hub.failed_registration.title' %>
<% content_for :feedback_source, 'FAILED_REGISTRATION_PAGE' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @custom_fail %>
        <%= render partial: 'failed_registration/custom_failed_registration', locals: {idp: @idp, transaction: @transaction, start_again_path: select_documents_path} %>
    <% else %>
        <%= render partial: 'failed_registration/non_continue_rp', locals: {idp: @idp, transaction: @transaction, remaining_options_partial: @remaining_options_partial, start_again_path: choose_a_certified_company_path} %>
    <% end %>
  </div>
</div>
