<%= page_title 'hub.failed_registration.title' %>
<% content_for :feedback_source, 'FAILED_REGISTRATION_PAGE' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @custom_fail %>
        <%= render partial: 'failed_registration/custom_failed_registration', locals: {idp: @idp, transaction: @transaction, start_again_path: select_documents_path} %>
    <% else %>
        <%= render partial: @continue_rp_partial, locals: {idp: @idp, transaction: @transaction, try_another_company_path: select_documents_path, other_idp: @decorated_other_idp} %>
    <% end %>
  </div>
</div>
