.banner-translation-in-progress {
  @include govuk-font(16);
  padding-top: $govuk-gutter-half;
}

.available-languages {

  ul {
    @include govuk-clearfix;
    list-style: none;
    padding: $govuk-gutter-half 0 $govuk-gutter-half;
    border-bottom: 1px solid $govuk-border-colour;

    li {
      float: left;
      display: block;
      border-right: 1px solid $govuk-border-colour;
      padding: 0 $govuk-gutter-half 0 0;
      height: 16px;
      margin: 3px $govuk-gutter-half 2px 0;

      &.last {
        border-right: 0;
      }

      a,
      span {
        display: block;
        margin-top: -1px;
        @include govuk-font(16);
      }

      .direction-rtl & {
        direction: rtl;
        float: right;
        text-align: start;
        border-left: 1px solid $govuk-border-colour;
        border-right: 0;
        margin: 3px 0 2px $govuk-gutter-half;
        padding: 0 0 0 $govuk-gutter-half;

        &.last {
          border-left: 0;
        }
      }
    }
  }
}
