<% content_for :page_title, t('hub.select_phone.title') %>
<% content_for :feedback_source, 'SELECT_PHONE_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1><%= t 'hub.select_phone.heading' %></h1>
  </div>
</div>
