<% content_for :page_title, t('hub.select_phone.title') %>
<% content_for :feedback_source, 'SELECT_PHONE_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1><%= t 'hub.select_phone.heading' %></h1>
    <%= form_for @form, url: select_phone_submit_path do |f| %>
      <div class="actions">
        <%= f.submit t('navigation.continue'), class: 'button', id: 'next-button' %>
      </div>
    <% end %>
  </div>
</div>
