<%= page_title 'hub.other_ways_title' %>
<% content_for :feedback_source, 'NO_MOBILE_PHONE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.no_mobile_phone.heading' %></h1>
    <%= t 'hub.no_mobile_phone.content_html', other_ways_description: @other_ways_description %>

    <%= render partial: 'shared/other_ways', locals: {other_ways_text: @other_ways_text, other_ways_description: @other_ways_description} %>
  </div>
</div>
