<% content_for :page_title, t('hub.why_might_this_not_work_for_me.title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t 'hub.why_might_this_not_work_for_me.heading' %></h1>

    <p> <a href="<%= @try_to_verify %>"><%= t 'hub.why_might_this_not_work_for_me.try_to_verify' %></a> </p>
  </div>
</div>