<%= page_title 'hub.failed_sign_in.title' %>
<% content_for :feedback_source, 'FAILED_SIGN_IN_PAGE' %>

<div class="govuk-grid-column-three-quarters">
  <h1 class="govuk-heading-l"><%= t 'hub.failed_sign_in.heading', display_name: @entity.display_name %></h1>

  <%= t 'hub.failed_sign_in.reasons_html' %>
  <%= button_link_to t('hub.failed_sign_in.start_again'), start_path, id: 'startAgain', class: 'govuk-button' %>
</div>

