<% content_for :page_title, t('hub.failed_sign_in.title') %>
<% content_for :feedback_source, 'FAILED_SIGN_IN_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t 'hub.failed_sign_in.heading', idp_name: @idp.display_name %></h1>

    <%= t 'hub.failed_sign_in.reasons_html' %>
    <%= link_to t('hub.failed_sign_in.start_again'), start_path, class: 'button', id: 'startAgain' %>
  </div>
</div>