
<% if params[:locale] == 'cy' %>
<div class="banner-translation-in-progress">
  <% if feedback_source.present? %>
  <%= t('translation_in_progress_banner.message', feedback_link: link_to(t('translation_in_progress_banner.feedback'), feedback_path('feedback-source' => feedback_source))).html_safe %>
  <% end %>
</div>
<% end %>
<div class="available-languages">
  <ul>
    <li class="translation">
      <% if params[:locale] == 'en' %>
        <span>English</span>
      <% else %>
        <%= link_to 'English', url_for(locale: 'en'), lang: 'en', hreflang: 'en' %>
      <% end %>
    </li>
    <li class="translation last">
      <% if params[:locale] == 'cy' %>
        <span>Cymraeg</span>
      <% else %>
        <%= link_to 'Cymraeg', url_for(locale: 'cy'), lang: 'cy', hreflang: 'cy' %>
      <% end %>
    </li>
  </ul>
</div>
