<%#
  Our custom radio button implementation. Workarounds:
  1. empty onclick attribute for iOS5 support
  2. blank space in the inner span to let JAWS-on-IE read the following text
%>

<%= form.label "#{key.to_s}_#{value.to_s.parameterize}", {class: 'block-label', onclick: ''} do %>
  <%= form.radio_button key, value %>
  <span>
    <span class="inner">&nbsp;</span>
  </span>
  <%= label %>
<% end %>
