<h2 class="govuk-heading-m"><%= t 'hub.certified_companies_disconnected.heading' %></h2>
<p><%= t('hub.certified_companies_disconnected.verify_another_company_html',
         link: link_to(t('hub.certified_companies_disconnected.verify_another_company_link'), begin_registration_path, id: 'begin-registration-route-2')
       )
%>
</p>

<div class="govuk-grid-row">
  <% disconnected_identity_providers.each do |identity_provider| %>
    <div class="govuk-grid-column-one-third company-wrapper">
      <div class="company <%= "no-border-mobile" if disconnected_identity_providers.length <= 1 %>">
        <div class="company-inner">
          <div class="company-logo">
            <div class="company-logo-inner">
              <%= image_tag(identity_provider.logo_path, alt: idp_tagline(identity_provider)) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
