<%= hidden_field_tag 'entity_id', identity_provider.entity_id, id: nil, class: 'js-entity-id' %>
<div  class="grid-row">
  <div class="company-full-width" style="margin-top: auto">&nbsp;
    <div class="column-one-third">
      <div class="company-wrapper">
        <div class="company-inner">
          <div class="company-logo">
            <div class="company-logo-inner">
              <%= image_tag(identity_provider.logo_path, alt: idp_tagline(identity_provider)) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column-two-thirds" style="text-align: left;">
      <h2 class="heading-medium" style="margin-top: auto"><%= t('hub.signin.company_no_longer_verifies_title', company: identity_provider.display_name) %></h2>
      <p><%= raw t('hub.signin.company_no_longer_verifies_text', company: identity_provider.display_name, link: link_to(t('hub.signin.company_no_longer_verifies_link'), begin_registration_path)) %></p>
    </div>
  </div>
</div>
