<div class="column-full company">
  <div class="column-one-third">
    <div class="company-wrapper">
      <div class="company-inner">
        <div class="company-logo">
          <div class="company-logo-inner">
            <%= image_tag(identity_provider.logo_path, alt: idp_tagline(identity_provider)) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column-two-thirds company-disconnect-text">
    <h2 class="heading-medium"><%= t('hub.signin.company_no_longer_verifies_title', company: identity_provider.display_name) %></h2>
    <p><%= raw @idp_disconnected_hint_html %></p>
  </div>
</div>
