<div class="meta-data feedback-link">
  <p><%= raw link_to( t('feedback_link.message', service_name: current_transaction.name), feedback_landing_path('feedback-source': feedback_source), id: 'feedback_landing_link_id') %></p>
</div>
