<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= t('hub.certified_companies_unavailable.heading',
                                     count: unavailable_identity_providers.length,
                                     company: unavailable_identity_providers.first.display_name) %></h2>
    <p><%=
      t('hub.certified_companies_unavailable.verify_another_company_html', link: link_to(t('hub.certified_companies_unavailable.verify_another_company_link'), about_certified_companies_path))
    %></p>
  </div>
</div>

<% unavailable_identity_providers.each do |identity_provider| %>
  <div class="govuk-grid-column-one-third company-wrapper">
    <div class="company">
      <div class="company-inner">
        <div class="company-logo">
          <div class="company-logo-inner">
            <%= image_tag(identity_provider.logo_path, alt: idp_tagline(identity_provider)) %>
          </div>
        </div>
      </div>
      <p class="subtitle"><%= t('hub.certified_companies_unavailable.company_text', company: identity_provider.display_name) %></p>
    </div>
  </div>
<% end %>
