<% content_for :page_title, t('hub.may_not_work_if_you_live_overseas.title') %>
<% content_for :feedback_source, 'MAY_NOT_WORK_IF_YOU_LIVE_OVERSEAS_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t 'hub.may_not_work_if_you_live_overseas.heading' %></h1>

    <p> <a href="<%= @try_to_verify %>"><%= t 'hub.may_not_work_if_you_live_overseas.try_to_verify' %></a> </p>
  </div>
</div>