<%= page_title 'hub.cancelled_registration.title' %>
<% content_for :feedback_source, 'CANCELLED_REGISTRATION' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.cancelled_registration.heading', idp_name: @idp.display_name %></h1>
  </div>
</div>