<%= page_title 'hub.what_happens_next.title' %>
<% content_for :feedback_source, 'WHAT_HAPPENS_NEXT_PAGE' %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t 'hub.what_happens_next.heading' %></h1>
    <%= t('hub.what_happens_next.what_happens_next_html', idp: @idp.display_name) %>
    <div class="actions">
      <%= button_link_to t('navigation.continue'), redirect_to_idp_warning_path, id: 'continue-button', class: "govuk-button"%>
    </div>
  </div>
</div>