<% content_for :page_title, 'Hygyrchedd' %>
<% content_for :page_title_in_english, 'Accessibility' %>
<% content_for :head do
  tag('meta', :name => 'verify|title', :content => content_for(:page_title_in_english))
end %>
<% content_for :feedback_source, :ACCESSIBILITY_PAGE %>
<% content_for :show_to_search_engine, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Datganiad Hygyrchedd ar gyfer GOV.UK Verify</h1>
    <p>Mae’r wefan hon yn cael ei rhedeg gan Wasanaeth Digidol y Llywodraeth (GDS). Rydym eisiau gymaint o bobl a phosib i fod yn gallu defnyddio’r wefan hon. Fel enghraifft, mae hyn yn golygu y dylech fod yn gallu:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>newid lliwiau, lefelau cyferbyniad a ffontiau</li>
      <li>chwyddo i fewn hyd at 300% heb fod yr ysgrifen yn cwympo oddi ar y sgrin</li>
      <li>llywio rhan fwyaf o’r wefan â’r bysellfwrdd yn unig</li>
      <li>llywio rhan fwyaf o’r wefan â meddalwedd adnabod lleferydd</li>
      <li>gwrando i ran fwyaf o’r wefan trwy ddefnyddio darllenydd sgrin (gan gynnwys y fersiynau mwyaf diweddaraf o JAWS, NVDA a VoiceOver)</li>
    </ul>

    <p>Rydym hefyd wedi gwneud testun y wefan mor syml a phosib i’w ddeall.</p>
    <p>Mae gan <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> gyngor ar wneud eich dyfais yn haws i’w ddefnyddio os oes gennych anabledd.</p>

    <h2 class="govuk-heading-m">Pa mor hygyrch yw’r wefan hon</h2>
    <p>Mae’r wefan hon yn cydymffurfio’n llawn â’r <a href="https://www.w3.org/TR/WCAG21/">Canllawiau Hygyrchedd Cynnwys ar y Wê fersiwn 2.1</a> safon AA.</p>

    <h2 class="govuk-heading-m">Beth i’w wneud os nad ydych yn gallu cael mynediad i rannau o’r wefan hon</h2>
    <p>Os oes angen y wybodaeth ar y wefan hon arnoch mewn fformat gwahanol fel PDF hygyrch, print bras, hawdd-ei-ddarllen, recordiad sain neu braille, cysylltwch â <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a> gyda manylion eich cais.</p>
    <p>Byddwn yn anelu at ymateb o fewn 2 ddiwrnod gwaith.</p>

    <h2 class="govuk-heading-m">Rhoi gwybod am broblemau hygyrchedd gyda’r wefan hon</h2>
    <p>Rydym yn edrych yn barhaol am ffyrdd o hyd yn edrych i wella hygyrchedd y wefan hon. Os ydych yn darganfod problemau sydd heb eu rhestru ar y dudalen hon, neu’n meddwl nad ydym yn cwrdd â’n gofynion hygyrchedd, cysylltwch â <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a>.</p>

    <h2 class="govuk-heading-m">Gweithdrefn Gorfodi</h2>
    <p>Mae’r Comisiwn Cydraddoldeb a Hawliau Dynol (EHRC) yn gyfrifol am orfodi’r Rheoliadau Cyrff Sector Cyhoeddus 2018 (Gwefannau a Rhaglenni Symudol) (Rhif.2) (y ‘rheoliadau hygyrchedd’). Os nad ydych yn hapus â’r ffordd rydym yn ymateb i’ch cŵyn, <a href="https://www.equalityadvisoryservice.com/">cysylltwch â’r Gwasanaeth Cynghori a Chefnogaeth Cydraddoldeb (EASS)</a>.</p>

    <h1 class="govuk-heading-l">Gwybodaeth technegol am hygyrchedd y wefan hon</h1>
    <p>Mae GDS wedi ymrywmo i wneud ei gwefan yn hygyrch, yn unol â Rheoliadau Cyrff Sector Cyhoeddus 2018 (Gwefannau a Rhaglenni Symudol) (Rhif.2).</p>
    <p>Mae’r wefan hon yn cydymffurfio’n llawn â’r <a href="https://www.w3.org/TR/WCAG21/">Canllawiau Hygyrchedd Cynnwys ar y Wê fersiwn 2.1</a> safon AA.</p>

    <h1 class="govuk-heading-l">Sut y gwnaethom brofi’r wefan hon</h1>
    <p>Fe wnaethom brofi’r wefan hon ddiwethaf am broblemau hygyrchedd ym mis Ionawr 2021.</p>
    <p>Fe wnaethom ddefnyddio profion llaw ac awtomataidd i chwilio am broblemau fel:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>diffyg hygyrchedd bysellfwrdd</li>
      <li>testun dolen nad yw’n ddisgrifiadol</li>
      <li>diffyg cyferbyniad lliw ar gyfer testun, graffegau a rheolyddion pwysig</li>
      <li>delweddau heb destun alt ystyrlon</li>
      <li>diffyg is-deitlau ar fideos</li>
      <li>problemau wrth ddefnyddio technolegau cynorthwyol fel darllenydd sgrin a chwyddwydrau sgrin</li>
    </ul>

    <h1 class="govuk-heading-l">Beth rydym yn ei wneud i wella hygyrchedd</h1>
    <p>Rydym wedi ymrwymo i gynnal cydymffurfiaeth llawn â’r <a href="https://www.w3.org/TR/WCAG21/">Canllawiau Hygyrchedd Cynnwys ar y Wê fersiwn 2.1</a> safon AA.</p>
    <p>Cafodd y datganiad hwn ei baratoi ar 20 Medi 2019. Cafodd ei ddiweddaru ddiwethaf ar 30 Mawrth 2021.</p>
  </div>
</div>
