<% content_for :page_title, 'Accessibility' %>
<% content_for :page_title_in_english, 'Accessibility' %>
<% content_for :head do
  tag('meta', :name => 'verify|title', :content => content_for(:page_title_in_english))
end %>
<% content_for :feedback_source, 'ACCESSIBILITY_PAGE' %>
<% content_for :show_to_search_engine, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Accessibility statement for GOV.UK Verify</h1>
    <p>This website is run by the Government Digital Service (GDS). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>

    <p>We’ve also made the website text as simple as possible to understand.</p>
    <p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
    
    <h2 class="govuk-heading-m">How accessible this website is</h2>
    <p>We know some parts of this website are not fully accessible:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you might not be given a warning before a page times out</li>
      <li>the colour contrast is not high enough for some of the text</li>
      <li>the colour contrast is not high enough for the focus indicator that shows you what you’ve selected on the page</li>
    </ul>

    <h2 class="govuk-heading-m">What to do if you cannot access parts of this website</h2>
    <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, please contact <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a> with details of your request.</p>
    <p>We’ll aim to reply within 2 working days.</p>

    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, please contact <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a>.</p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

    <h1 class="govuk-heading-l">Technical information about this website’s accessibility</h1>
    <p>GDS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.</p>

    <h1 class="govuk-heading-l">Non accessible content</h1>
    <p>The content listed below is non-accessible for the following reasons.</p>
    
    <h2 class="govuk-heading-m">Non compliance with the accessibility regulations</h2>
    <p>Some pages do not give a warning before timing out, or let you adjust or extend the time limit. This fails WCAG 2.1 success criterion <a href="https://www.w3.org/TR/WCAG21/#timing-adjustable">2.2.1 (timing adjustable)</a>.</p>
    <p>The colour contrast ratio for some of the text is less than 4.5:1. This fails WCAG 2.1 success criterion <a href="https://www.w3.org/TR/WCAG21/#contrast-minimum">1.4.3 (minimum contrast)</a>.</p>
    <p>The colour contrast ratio for the focus indicator is less than 3:1. This fails WCAG 2.1 success criterion <a href="https://www.w3.org/TR/WCAG21/#non-text-contrast">1.4.11 (non-text contrast)</a>.</p>
    <p>We will make all these elements fully accessible by February 2020.</p>

    <h1 class="govuk-heading-l">How we tested this website</h1>
    <p>We last tested this website for accessibility issues in September 2019.</p>
    <p>We used manual and automated tests to look for issues such as:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>lack of keyboard accessibility</li>
      <li>link text that’s not descriptive</li>
      <li>lack of colour contrast for text, important graphics and controls</li>
      <li>images not having meaningful alt text</li>
      <li>lack of subtitles for videos</li>
      <li>problems when using assistive technologies such as screen readers and screen magnifiers</li>
    </ul>

    <h1 class="govuk-heading-l">What we’re doing to improve accessibility</h1>
    <p>We will make changes to this website to make it fully accessible. </p>
    <p>We will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>give a warning before a page times out, or let you adjust or extend the time limit</li>
      <li>increase the colour contrast ratio for all text to 4.5:1 or higher</li>
      <li>increase the colour contrast ratio for the focus indicator to 3:1 or higher</li>
    </ul>
    <p>We will make these changes by February 2020.</p>
    <p>This statement was prepared on 20 September 2019. It was last updated on 27 January 2020.</p>
  </div>
</div>
