<%= page_title 'hub.forgot_company.heading' %>
<% content_for :feedback_source, 'FORGOT_COMPANY_PAGE' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to t('navigation.back'), sign_in_path, class: 'govuk-back-link' %>
    <h1 class="govuk-heading-l">We can’t tell you which company verified you</h1>
    <p>Security standards mean GOV.UK can’t store your information, so we can’t tell you which company you registered with.</p>
    <p>Look for correspondence from a certified company. Check your:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>email inbox for the confirmation email</li>
      <li>spam folder and deleted emails</li>
      <li>texts on your mobile phone</li>
    </ul>
    <p>You can try to get your identity verified by a certified company again.</p>
  </div>
</div>
