<%= page_title 'hub.forgot_company.title' %>
<% content_for :feedback_source, 'FORGOT_COMPANY_PAGE' %>

<%= link_to t('navigation.back'), sign_in_path, class: 'link-back' %>
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Ni allwn ddweud wrthych pa gwmni wnaeth eich dilysu</h1>
    <p>Mae safonnau diogelwch yn golygu na all GOV.UK gadw eich gwybodaeth, felly ni allwn ddweud wrthych pa gwmni y gwnaethoch gofrestru gyda.</p>
    <p>Chwiliwch am ohebiaeth gan gwmni ardystiedig. Gwiriwch eich:</p>
    <ul class="list-bullet list">
      <li>mewnflwch e-bost ar gyfer yr e-bost o gadarnhad</li>
      <li>ffolderi spam ac e-byst sydd wedi’u dileu</li>
      <li>negeseuon testun ar eich ffôn symudol</li>
    </ul>
    <p>Gallwch roi cynnig i gael eich hunaniaeth wedi’i ddilysu gan gwmni ardystiedig eto.</p>
  </div>
</div>
