<% content_for :page_title, 'Hysbysiad preifatrwydd' %>
<% content_for :page_title_in_english, 'Privacy notice' %>
<% content_for :head do
  tag('meta', :name => 'verify|title', :content => content_for(:page_title_in_english))
end %>
<% content_for :feedback_source, 'PRIVACY_NOTICE_PAGE' %>
<% content_for :show_to_search_engine, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Hysbysiad preifatrwydd</h1>
    <p>Diweddarwyd ddiwethaf: 28 Medi 2018</p>
    <h2 class="heading-medium" id="who-we-are">Pwy ydym ni</h2>
    <p>Mae GOV.UK Verify yn cael ei adeiladu a'i redeg gan Wasanaeth Digidol y Llywodraeth (GDS). Mae GOV.UK Verify yn caniatáu i chi brofi eich hunaniaeth wrth ddefnyddio gwasanaethau digidol y llywodraeth fel y gwasanaeth roeddech yn arfer <a href="https://www.gov.uk/cofrestru-ar-gyfer-a-chyflwynoch-ffurflen-dreth-hunanasesiad">mewngofnodi iddo a chyflwyno eich ffurflen dreth Hunanasesu</a>. Mae Gov.UK Verify wedi ei ymestyn i gydymffurfio â'r rheoliad eIDAS, sy'n caniatáu i ddefnyddwyr sydd â hunaniaeth ddigidol o rai gwledydd yr UE gael mynediad at wasanaethau'r llywodraeth yn y DU. Mae'r hysbysiad preifatrwydd hwn yn egluro pa wybodaeth y gallwn ei chasglu, sut mae'n cael ei ddefnyddio a sut mae'n cael ei ddiogelu.</p>
    <h2 class="heading-medium" id="how-we-use-info">Sut rydym yn defnyddio gwybodaeth pan fyddwch yn defnyddio GOV.UK Verify</h2>
    <p>Mae GOV.UK Verify yn darparu 'hyb' rhwng gwasanaethau a ‘<a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#companies-that-can-verify-your-identity">chwmnïau ardystiedig</a>’ sy'n gwirio hunaniaeth defnyddwyr ar ran y llywodraeth. Mae cwmnïau ardystiedig yn sefydliadau sydd wedi cwrdd â safonau'r llywodraeth a diwydiant i ddarparu gwasanaethau sicrwydd hunaniaeth fel rhan o GOV.UK Verify. Rydym yn defnyddio data personol a gwybodaeth arall i'ch helpu i drafod yn ddiogel gyda gwasanaethau'r llywodraeth. Gall hyn gynnwys unrhyw un o'r gweithgareddau canlynol.</p>
    <ol class="list-number list">
      <li><h4 class="heading-small" id="sending-information">Anfon gwybodaeth i gwmnïau ardystiedig</h4>
        Gallai GOV.UK Verify drosglwyddo gwybodaeth am atebion a roddoch ar ganolbwynt GOV.UK Verify i gwmnïau ardystiedig. Mae hyn yn helpu cwmnïau ardystiedig i'ch tywys drwy'r broses ddilysu, gan ei gwneud yn symlach ac yn gyflymach.
      </li>
      <li><h4 class="heading-small" id="comp-send-info-to-hub">Cwmnïau ardystiedig yn anfon gwybodaeth i'r canolgwynt</h4>
        Bydd y cwmni sydd wedi'i ardystio a ddewiswch yn anfon y data dilys amdanoch chi (eich enw, eich cyfeiriad a'ch dyddiad geni ynghyd â'ch rhyw os ydych chi'n dewis ei roi) i'r hyb, a bydd y hyb yn ei anfon at y gwasanaeth llywodraeth rydych chi am ei gael mynediad iddo. Ni fydd y cwmni ardystiedig a ddefnyddiwch yn gwybod pa wasanaeth llywodraeth sydd wedi gofyn am y wybodaeth hon, ac ni fydd y gwasanaeth llywodraeth yn gwybod pa gwmni sydd wedi'i ardystio rydych wedi'i ddewis.
      </li>
      <li><h4 class="heading-small" id="document-checking-service">Gwirio dogfennau</h4>
        <p>Rydym hefyd yn darparu gwasanaeth gwirio dogfennau i gwmnïau ardystiedig fel y gallant ddilysu rhywfaint o'ch data gydag adrannau llywodraeth eraill megis:
        </p>
        <ul class="list-bullet list">
          <li>Swyddfa Pasbort Ei Mawrhydi (HMPO)</li>
          <li>Asiantaeth Trwyddedu Gyrwyr a Cherbydau (DVLA)</li>
          <li>Asiantaeth Gyrwyr a Cherbydau (DVA) yng Ngogledd Iwerddon</li>
        </ul>
        <p>Gwneir hyn trwy API ac ni all GOV.UK Verify gael mynediad iddo.</p>
      </li>
    </ol>
    <h2 class="heading-medium" id="how-we-use-information-for-digital-identity">Sut rydym yn defnyddio gwybodaeth pan fyddwch yn defnyddio hunaniaeth digidol o wlad Ewropeaidd arall</h2>
    <p>Mae GOV.UK Verify yn darparu 'hyb' rhwng gwasanaethau'r llywodraeth a chynlluniau hunaniaeth ddigidol aelod-wladwriaethau'r UE. Os ydych y'n ddinesydd yr UE sydd wedi ymuno â chynllun adnabod arall, mae hyn yn eich galluogi i brofi eich hunaniaeth ar-lein a defnyddio gwasanaeth llywodraeth y DU. Defnyddiwn ddata personol a gwybodaeth arall i'ch helpu i drafod yn ddiogel gyda gwasanaethau'r llywodraeth. Gall hyn gynnwys unrhyw un o'r gweithgareddau canlynol.</p>
    <ol class="list-number list">
      <li><h4 class="heading-small" id="choose-digital-identity-scheme">Dewis cynllun hunaniaeth ddigidol</h4></li>
      <p>Bydd hyb GOV.UK Verify yn gofyn i chi ddewis pa gynllun hunaniaeth ddigidol rydych chi am ei ddefnyddio.</p>
      <li><h4 class="heading-small" id="eu-member-states-sending-information">Aelod-wladwriaethau'r UE sy'n anfon gwybodaeth i'r hyb</h4></li>
      <p>Bydd y cynllun hunaniaeth ddigidol a ddewiswch yn anfon data dilys amdanoch chi (eich enw a'ch dyddiad geni) i'r hyb, a bydd y hyb yn ei anfon at y gwasanaeth llywodraeth yr hoffech ei gael. Ni fydd y cynllun hunaniaeth rydych yn ei ddefnyddio yn gwybod pa wasanaeth llywodraeth sydd wedi gofyn am y wybodaeth hon, ac ni fydd y gwasanaeth llywodraeth yn gwybod pa gynllun hunaniaeth rydych wedi'i ddewis.</p>
    </ol>
    <h2 class="heading-medium" id="how-we-use-information-for-monitoring">Sut rydym yn defnyddio gwybodaeth ar gyfer monitro a diogelwch</h2>
    <h4 class="heading-small" id="user-support">Cymorth i ddefnyddwyr</h4>
    <p>Pan fyddwch yn cysylltu â'r  tîm cymorth i ddefnyddwyr GOV.UK Verify am help, efallai y byddwn yn:</p>
    <ul class="list-bullet list">
      <li>gofyn am ragor o wybodaeth gennych</li>
      <li>trosglwyddo eich ymholiad neu'ch adborth i gwmni ardystiedig neu wasanaeth llywodraeth</li>
    </ul>
    <p>Efallai y byddwn hefyd yn gofyn am adborth pellach i helpu wella'r gwasanaeth.</p>
    <h4 class="heading-small" id="monitoring-and-reporting">Monitro ac adrodd</h4>
    <p>Rydym yn monitro ac yn adrodd ar GOV.UK Verify fel y gallwn adolygu a gwella'r gwasanaeth a ddarparwn i sefydliadau'r llywodraeth.</p>
    <h4 class="heading-small" id="identity-standards-and-fraud">Safonau hunaniaeth a thwyll</h4>
    <p>Rydym yn prosesu rhywfaint o ddata personol i helpu atal twyll mewn gwasanaethau'r llywodraeth. Rydym yn gwneud hyn i gynnal safonau hunaniaeth y llywodraeth a chanfod twyll wrth wirio hunaniaeth.</p>
    <h2 class="heading-medium" id="what-information-we-process">Pa wybodaeth rydym yn ei brosesu</h2>
    <p>Rydym yn prosesu gwybodaeth amdanoch wrth i chi ddefnyddio GOV.UK Verify. Gall hyn gynnwys y canlynol:</p>
    <h4 class="heading-small" id="how-personal-data-is-used">Sut y defnyddir data personol wrth ymuno â GOV.UK Verify</h4>
    <p>Ar ôl i chi gael ei ddilysu gan y cwmni ardystiedig, rydym yn trosglwyddo'ch data personol i'r gwasanaeth llywodraeth yr hoffech ei gael. Bydd eich hunaniaeth wedi'i dilysu yna yn cael ei gydweddu â chofnod yn y gronfa ddata gwasanaeth llywodraeth cyfatebol.</p>
    <p>Mae'r data hwn yn cynnwys:</p>
    <ul class="list-bullet list">
      <li>enw (gan gynnwys enwau blaenorol)</li>
      <li>cyfeiriad (a all gynnwys cyfeiriadau blaenorol)</li>
      <li>dyddiad geni</li>
      <li>oed (ystod)</li>
      <li>rhyw (dewisol)</li>
      <li>Cyfeiriad IP</li>
      <li>dynodwr personol (PID)</li>
    </ul>
    <p>Mewn rhai sefyllfaoedd, efallai y byddwn hefyd yn gofyn am wybodaeth ychwanegol megis:</p>
    <ul class="list-bullet list">
      <li>rhif trwydded yrru</li>
      <li>Rhif benthycwyr y Gofrestrfa Tir</li>
      <li>Rhif Yswiriant Gwladol</li>
      <li>Cyfeirnod trethdalwr unigryw Cyllid a Thollau EM</li>
      <li>Adnabyddwr Busnes Sengl Asiantaeth Taliadau Gwledig</li>
    </ul>
    <h4 class="heading-small" id="how-personal-data-is-used-european">Sut mae data personol yn cael ei ddefnyddio wrth mewngofnodi â hunaniaeth ddigidol o wlad Ewropeaidd arall</h4>
    <p>Ar ôl i'ch hunaniaeth ddigidol o wlad arall yr UE gael ei ddilysu, byddwn yn trosglwyddo'ch data personol i'r gwasanaeth llywodraeth rydych am ei ddefnyddio. Yna bydd eich hunaniaeth wedi'i dilysu yn cael ei baru â chofnod yn y gronfa ddata gwasanaeth llywodraeth cyfatebol.</p>
    <p>Mae'r data hwn yn cynnwys:</p>
    <ul class="list-bullet list">
      <li>enw teuluol</li>
      <li>enw cyntaf</li>
      <li>dyddiad geni</li>
      <li>adnabyddwr personol (PID)</li>
    </ul>
    <p>Mewn rhai sefyllfaoedd, efallai y byddwn hefyd yn gofyn am wybodaeth ychwanegol fel:</p>
    <ul class="list-bullet list">
      <li>rhif trwydded yrru</li>
      <li>Rhif benthycwyr y Gofrestrfa Tir</li>
      <li>Rhif Yswiriant Gwladol</li>
      <li>Cyfeirnod trethdalwr unigryw Cyllid a Thollau EM</li>
      <li>Adnabyddwr Busnes Sengl yr Asiantaeth Taliadau Gwledig</li>
    </ul>
    <h4 class="heading-small" id="user-support-questions-and-feedback">Cwestiynau cefnogi defnyddwyr ac adborth</h4>
    <p>Rydym yn prosesu cwestiynau neu adborth a anfonwch at gymorth defnyddwyr, gan gynnwys eich enw a'ch cyfeiriad e-bost, manylion eich ymholiad, a'r camau rydym wedi'u cymryd i helpu.</p>
    <h4 class="heading-small" id="technical-information">Gwybodaeth Dechnegol</h4>
    <p>Pan fyddwch yn cysylltu â GOV.UK Verify, rydym yn casglu gwybodaeth arall a ddefnyddir ar gyfer monitro, adrodd a dibenion atal twyll. Mae hyn yn cynnwys:</p>
    <ul class="list-bullet list">
      <li>cyfeiriad IP y ddyfais rydych chi'n ei ddefnyddio i gysylltu</li>
      <li>olion bysedd dyfais', sef gwybodaeth a gesglir o bell am ddyfais gyfrifiadurol ar gyfer adnabod dyfais</li>
      <li>'llinyn asiant defnyddiwr', sef y math a fersiwn y porwr a'r system weithredu</li>
    </ul>
    <h2 class="heading-medium" id="cookies-and-analytics">Cwcis a dadansoddiadau</h2>
    <p>Gallwch ddarllen ein <a href="https://www.signin.service.gov.uk/cookies">hysbysiad cwci</a> llawn i ddarganfod sut rydym yn defnyddio cwcis.</p>
    <h2 class="heading-medium" id="How-long-we-keep-your-data">Am ba hyd y byddwn yn cadw eich data</h2>
    <p>Byddwn ond yn cadw eich data personol cyhyd â:</p>
    <ul class="list-bullet list">
      <li>mae'r gyfraith yn ei gwneud yn ofynnol i ni wneud hynny</li>
      <li>rydym ei angen i ddarparu'r gwasanaeth hwn</li>
    </ul>
    <p>Yn gyffredinol, mae hyn yn golygu y byddwn ond yn dal eich data personol am o leiaf 1 flwyddyn ac uchafswm o 7 mlynedd.</p>
    <h2 class="heading-medium" id="companies-and-government-organisations">Cwmnïau ardystiedig, cynlluniau hunaniaeth ddigidol mewn gwledydd Ewropeaidd eraill a sefydliadau'r llywodraeth</h2>
    <p>Mae sefydliadau'r llywodraeth, cynlluniau hunaniaeth ddigidol mewn gwledydd Ewropeaidd eraill a chwmnïau ardystiedig rydym yn bartneriaid iddynt yw'r <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/key-definitions/">rheolwyr data</a> a fydd hefyd yn prosesu'ch data at eu dibenion eu hunain. Ni ddisgrifir y dibenion hyn yn yr hysbysiad preifatrwydd hwn. Darllenwch eu polisïau preifatrwydd i ddysgu sut y maent yn prosesu'ch data a sut i arfer eich hawliau ynghylch sut maent yn ei wneud.</p>
    <h2 class="heading-medium" id="sharing-information-with-third-parties">Rhannu gwybodaeth gyda thrydydd partïon</h2>
    <p>Rydym yn rhannu gwybodaeth gyda gwasanaethau'r llywodraeth a chwmnïau ardystiedig i wirio'ch hunaniaeth a dim ond yn y ffyrdd a ddisgrifir yn yr hysbysiad preifatrwydd hwn. Ni fyddwn yn rhannu eich data personol gydag unrhyw sefydliadau eraill nac ar gyfer marchnata, ymchwil marchnad neu ddibenion masnachol.</p>
    <p>
      Efallai y byddwn yn trosglwyddo data personol os oes gennym reswm cyfreithiol, er enghraifft fel rhan o ymchwiliad troseddol neu weithgaredd atal twyll.
    </p>
    <h2 class="heading-medium" id="where-data-is-stored">Lle mae eich data yn cael ei storio</h2>
    <p>Mae GOV.UK Verify yn prosesu eich data personol yn yr Ardal Economaidd Ewropeaidd (AEE).</p>
    <h2 class="heading-medium" id="links-to-other-websites">Dolenni i wefannau eraill</h2>
    <p>Mae GOV.UK Verify yn un o'r gwasanaethau ar GOV.UK ac mae ganddo gysylltiadau â gwefannau eraill. Dim ond i <a href="https://www.gov.uk/government/publications/introducing-govuk-verify">GOV.UK Verify</a> mae'r  hysbysiad preifatrwydd hwn yn berthnasol ac nid yw'n cwmpasu gwasanaethau a thrafodion eraill y llywodraeth rydym yn cysylltu â hwy.</p>
    <h2 class="heading-medium" id="identity-assurance-principles">Egwyddorion Sicrwydd Hunaniaeth wrth ymuno â GOV.UK Verify</h2>
    <p>Mae GOV.UK Verify wedi'i ddylunio i gydymffurfio â'r <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/361496/PCAG_IDA_Principles_3.1__4_.pdf">Egwyddorion Sicrwydd Hunaniaeth</a> a baratowyd gan <a href="https://www.gov.uk/government/groups/privacy-and-consumer-advisory-group">Grŵp Preifatrwydd a Chynghori Defnyddwyr</a> y Cabinet.
      Gallwch hefyd ddod o hyd i wybodaeth fanylach am y gwasanaeth ar <a href="https://identityassurance.blog.gov.uk/">flog GOV.UK Verify</a>.
    </p>
    <h2 class="heading-medium" id="children-privacy-protection">Gwarchod preifatrwydd plant</h2>
    <p>Rydym yn deall y pwysigrwydd o diogelu preifatrwydd plant ar-lein. Nid yw GOV.UK Verify wedi'i gynllunio, na wedi'i dargedu'n fwriadol ar gyfer plant 13 oed neu iau. Nid ein polisi ni yw casglu neu gynnal data yn fwriadol am unrhyw un dan 13 oed.
    </p>
    <h2 class="heading-medium" id="how-we-protect-your-data">Sut rydym yn gwarchod eich data a'i gadw'n ddiogel</h2>
    <p>Rydym wedi ymrwymo i wneud popeth a allwn i gadw'ch data'n ddiogel. Er mwyn atal mynediad neu ddatgelu heb ganiatâd, rydym wedi rhoi gweithdrefnau technegol a threfniadol ar waith i sicrhau'r data a gasglwn amdanoch chi - er enghraifft, rydym yn diogelu eich data drwy ddefnyddio lefelau amgryptio amrywiol. Rydym hefyd yn sicrhau bod gan unrhyw drydydd parti rydym yn delio â hwy rwymedigaeth i gadw'r holl ddata personol y maent yn ei brosesu ar ein rhan yn ddiogel.
    </p>
    <h2 class="heading-medium" id="changes-to-this-notice">Newidiadau i'r hysbysiad hwn</h2>
    <p>Efallai y byddwn yn newid yr hysbysiad preifatrwydd hwn yn ôl ein disgresiwn ar unrhyw adeg. Pan fyddwn yn gwneud newidiadau i'r hysbysiad hwn, byddwn yn diweddaru'r dyddiad diwygiedig diwethaf ar frig y dudalen hon. Bydd unrhyw newid i'r hysbysiad preifatrwydd hwn yn cael ei gymhwyso i chi a'ch data fel ar y dyddiad adolygu hwnnw. Rydym yn eich annog i adolygu'r rhybudd preifatrwydd hwn yn rheolaidd i aros yn wybodus am sut rydym yn diogelu'ch data.
    </p>
    <h2 class="heading-medium" id="who-controls-your-data">Pwy sy'n rheoli'ch data</h2>
    <p>Y rheolwr data ar gyfer eich data personol yw Swyddfa'r Cabinet - rheolwr data sy'n pennu sut a pham y caiff data personol ei brosesu.</p>
    <p><h4 class="heading-medium" id="your-rights">Eich hawliau</h4>
    <p>Mae gennych yr hawl i ofyn am:</p>
    <ul class="list-bullet list">
      <li>gwybodaeth am sut mae eich data personol yn cael ei brosesu ac i ofyn am gopi o'r data personol hwnnw rydych chi wedi'i roi i ni</li>
      <li>bod unrhyw anghywirdeb ynghylch eich data personol yn cael ei gywiro yn ddi-oed</li>
      <li>bod unrhyw ddata personol anghyflawn yn cael ei gwblhau, gan gynnwys trwy gyfrwng datganiad atodol</li>
      <li>bod eich data personol yn cael ei ddileu os nad oes cyfiawnhad bellach i ni ei ddal</li>
      <li>bod prosesu eich data personol yn cael ei gyfyngu mewn rhai amgylchiadau, er enghraifft pan fo cywirdeb yn cael ei herio</li>
    </ul>
    <p>Os yw eich data personol yn cael ei brosesu ar sail caniatâd, yna mae gennych yr hawl i dynnu'ch caniatâd yn ôl ar unrhyw adeg.</p>
    <h2 class="heading-medium" id="how-to-contact-us">Sut i gysylltu â ni</h2>
    <p>Os oes gennych unrhyw gwestiynau am unrhyw beth yn y ddogfen hon neu os credwch fod eich data personol wedi cael ei gamddefnyddio neu gandrin, gallwch gysylltu â Swyddog Diogelu Data Swyddfa'r Cabinet (DPO) yn <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a>.</p>
    <p>Neu drwy'r post yn:</p>
    <p>
    <address>
      Swyddog Diogelu Data
      <br>
      Swyddfa'r Cabinet
      <br>
      70 Whitehall
      <br>
      Llundain SW1A 2AS
    </address>
    </p>

    <p>Gallwch wneud cwyn i Swyddfa'r Comisiynydd Gwybodaeth (ICO), sy'n rheoleiddiwr annibynnol. Gellir cysylltu â'r Comisiynydd Gwybodaeth yn <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a> neu ar 0303 123 1113.</p>

    <p>Neu drwy'r post yn:</p>
    <p>
    <address>
      Swyddfa'r Comisiynydd Gwybodaeth
      <br>
      Wycliffe House
      <br>
      Water Lane
      <br>
      Wilmslow
      <br>
      Cheshire SK9 5AF
    </address>
    </p>
    <div class="meta-data group">
      <p class="modified-date">Diweddarwyd ddiwethaf: 28 Medi 2018</p>
    </div>
  </div>
</div>