<% content_for :page_title, 'Hysbysiad preifatrwydd' %>
<% content_for :page_title_in_english, 'Privacy notice' %>
<% content_for :head do
  tag('meta', :name => 'verify|title', :content => content_for(:page_title_in_english))
end %>
<% content_for :feedback_source, 'PRIVACY_NOTICE_PAGE' %>
<% content_for :show_to_search_engine, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Hysbysiad preifatrwydd</h1>
      <p>Diweddarwyd diwethaf: 22 Hydref 2019</p>

      <h2 class="govuk-heading-l" id="who-we-are">Pwy ydym ni</h2>
      <p>Mae GOV.UK Verify wedi cael ei adeiladau ac yn cael ei redeg gan Gwasanaeth Digidol y Llywodraeth (GDS), sy'n rhan o Swyddfa'r Cabinet.</p>
      <p>Mae GOV.UK Verify yn caniatáu i chi brofi'ch hunaniaeth wrth ddefnyddio gwasanaethau digidol y llywodraeth, fel y gwasanaeth rydych yn ei ddefnyddio i <a href="https://www.gov.uk/cofrestru-ar-gyfer-a-chyflwynoch-ffurflen-dreth-hunanasesiad">ffeilio'ch ffurflen dreth Hunanasesiad.</a>.</p>
      <p>Mae GOV.UK Verify wedi cael ei gynllunio i fodloni'r <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/361496/PCAG_IDA_Principles_3.1__4_.pdf">Egwyddorion Sicrwydd Hunaniaeth</a>, a ysgrifennwyd gan <a href="https://www.gov.uk/government/groups/privacy-and-consumer-advisory-group">Grŵp Cynghori Preifatrwydd a Defnyddwyr</a> Swyddfa'r Cabinet.</p>
      <p>Gallwch ddod o hyd i wybodaeth fanylach am GOV.UK Verify ar <a href=https://gds.blog.gov.uk/category/id-assurance/>blog GOV.UK Verify</a>.</p>
      <p>Mae'r hysbysiad preifatrwydd hwn yn esbonio pa ddata y gallem ei gasglu, sut mae'n cael ei ddefnyddio a sut mae'n cael ei ddiogelu.</p>
      
      <h2 class="govuk-heading-l" id="what-data-we-collect">Pa ddata rydym yn ei gasglu</h2>
      <p>Rydym yn casglu data personol gennych pan fyddwch yn:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>mewngofnodi i wasanaeth gyda GOV.UK Verify</li>
          <li>anfon cwestiynau ac adborth atom</li>
      </ol>
      
      <h3 class="govuk-heading-m" id="when-you-sign-in-with-govuk-verify">Pan fyddwch yn mewngofnodi gyda GOV.UK Verify</h3>
      <p>Mae GOV.UK Verify yn darparu 'hyb' rhwng gwasanaethau a chwmnïau sy'n profi hunaniaeth defnyddwyr ar ran y llywodraeth. Mae'r cwmnïau hyn wedi bodloni safonau'r llywodraeth a'r diwydiant i wirio a phrofi hunaniaeth defnyddwyr fel rhan o GOV.UK Verify.</p>
      <p>Ar ôl i'r cwmni brofi pwy ydych, maent yn anfon data personol cyfyngedig maent yn ei gasglu i'r hyb. Yna bydd y hyb yn ei anfon i'r gwasanaeth rydych am ei ddefnyddio.</p>
      <p>Gallai'r data personol hwn gynnwys eich:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>enw (gan gynnwys unrhyw enwau blaenorol)</li>
          <li>cyfeiriad (gan gynnwys unrhyw gyfeiriadau blaenorol)</li>
          <li>dyddiad geni</li>
          <li>ystod oedran</li>
          <li>rhyw (mae hyn fel arfer yn ddewisol)</li>
          <li>cyfeiriad ip</li>
          <li>dynodwr parhaus (PID) - rhoddir hwn i chi gan y cwmni a brofodd eich hunaniaeth</li>
        </ol>

      <h3 class="govuk-heading-m" id="when-you-send-us-a-question-or-feedback">Pan anfonwch gwestiwn neu adborth atom</h3>
      <p>Rydym yn cadw unrhyw gwestiynau neu adborth rydych yn eu hanfon am GOV.UK Verify, yn ogystal â manylion am yr hyn rydym wedi'i wneud i helpu. Byddwn hefyd yn cadw rhywfaint o ddata personol, fel eich enw a'ch cyfeiriad e-bost.</p>
      
      <h2 class="govuk-heading-l" id="cookies-and-analytics">Cwcis a dadansoddiadau</h2>
      <p>Rydym yn defnyddio Matomo i gasglu gwybodaeth am sut rydych yn defnyddio GOV.UK Verify.</p>
      <p>Mae Matomo yn storio gwybodaeth am:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>pa dudalennau rydych yn ymweld â nhw</li>
          <li>pa mor hir rydych yn ei dreulio ar bob tudalen</li>
          <li>sut y gwnaethoch gyrraedd y wefan</li>
          <li>beth rydych yn clicio arno tra'ch bod yn ymweld â'r wefan</li>
        </ol>
      <p>Rydym hefyd yn defnyddio Google Analytics i rannu'r wybodaeth hon o fewn GDS. Mae'r wybodaeth hon yn ein helpu i wella gwasanaethau digidol llywodraeth y DU. Mae'n ddienw cyn i ni ei brosesu.</p>
      <p>Nid ydym yn cadw eich data personol (fel eich enw na'ch cyfeiriad) ar ein system ddadansoddi nac yn ei rannu gydda 'Google Analytics'. Rydym yn sicrhau nad yw'r wybodaeth hon yn cael ei defnyddio, na'i chyfuno â setiau data eraill, i nodi pwy ydych.</p>
      <p>Mae GOV.UK Verify yn rhoi ffeiliau bach (a elwir yn 'cwcis') ar eich cyfrifiadur. Darllenwch ein <a href="https://www.signin.service.gov.uk/cwcis">rhybudd cwci</a> llawn i ddarganfod sut rydym yn defnyddio cwcis.</p>
      <p>Er mwyn diogelu GOV.UK Verify rhag trosedd a thwyll, efallai y byddwn weithiau'n rhannu'ch data personol gyda:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>asiantaethau gorfodi'r gyfraith</li>
          <li>sefydliadau sector cyhoeddus, er enghraifft Swyddfa'r Cabinet, y Swyddfa Gartref ac eraill</li>
          <li>sefydliadau sector preifat perthnasol</li>
        </ol>
      <p>Gallai'r data personol hwn gynnwys eich:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>enw teulu</li>
          <li>enw cyntaf</li>
          <li>dyddiad geni</li>
          <li>PID</li>
          <li>rhif ffôn</li>
          <li>gwybodaeth biometreg</li>
          <li>cyfeiriadau e-bost</li>
          <li>cyfeiriad</li>
        </ol>
    
    <h2 class="govuk-heading-l" id="what-we-do-with-your-data">Beth rydym yn ei gwneud gyda'ch data</h2>
    <p>Efallai byddwn yn rhannu'r data rydym yn ei gasglu gyda:</p>
      <ol class="govuk-list govuk-list--bullet">
        <li>adrannau ac asiantaethau eraill o'r llywodraeth</li>
        <li>y cwmni a dilysodd eich hunaniaeth</li>
        <li>cyrff cyhoeddus eraill</li>
      </ol>
    <p>Rydym yn prosesu rhai data personol i helpu rhwystro twyll mewn gwasanaethau'r llywodraeth. Rydym yn gwneud hyn i sicrhau bod GOV.UK Verify yn bodloni safonau hunaniaeth llywodraeth y DU.</p>
    <p>Ni fyddwn yn:</p>
      <ol class="govuk-list govuk-list--bullet">
        <li>gwerthu eich data i bartїon trydydd parti</li>
        <li>rhannu eich data gyda trydydd partïon ar gyfer rhesymau marchnata</li>
      </ol>
    
    <h2 class="govuk-heading-l" id="legal-basis-for-using-your-data">Sail gyfreithiol dros ddefnyddio'ch data</h2>
    <p>Y sail gyfreithiol am brosesu eich data personol yw ei bod yn angenrheidiol cyflawni tasg er budd y cyhoedd.</p>
    <p>Weithiau, bydd angen i chi roi eich caniatâd cyn i unrhyw ddata personol gael ei brosesu. Yn yr achos hwnnw, mae gennych hawl i dynnu'ch caniatâd yn ôl ar unrhyw adeg.</p>
    
    <h2 class="govuk-heading-l" id="how-long-we-keep-your-data-for">Am ba hyd yr ydym yn cadw'ch data</h2>
    <p>Byddwn dim on yn cadw'ch data personol cyhyd â:</p>
      <ol class="govuk-list govuk-list--bullet">
        <li>mae ei angen at y dibenion a nodir yn yr hysbysiad preifatrwydd hwn</li>
        <li>y mae angen i ni ddarparu'r gwasanaeth hwn</li>
      </ol>
    
    <h2 class="govuk-heading-l" id="who-controls-your-data">Pwy sy'n rheoli'ch data</h2>
    <p>Swyddfa'r Cabinet yw'r rheolwr data ar gyfer y data a brosesir gan GOV.UK Verify. Mae rheolwr data yn penderfynu sut a pham mae data personol yn cael ei brosesu. Am ragor o wybodaeth, darllenwch gofnod Swyddfa'r Cabinet yn y <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">Gofrestr Gyhoeddus Diogelu Data</a>.
    
    <h2 class="govuk-heading-l" id="where-your-data-is-stored">Lle mae eich data yn cael ei storio</h2>
    <p>Mae GOV.UK Verify yn cadw'ch data personol yn yr Ardal Economaidd Ewropeaidd (AEE).</p>


    <h2 class="govuk-heading-l" id="your-rights">Eich hawliau</h2>
    <p>Mae gennych hawl i ofyn:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>gwybodaeth am sut mae'ch data personol yn cael ei brosesu</li>
          <li>copi o unrhyw ddata personol rydych wedi'i roi i ni</li>
          <li>bod unrhyw beth anghywir yn eich data personol yn cael ei gywiro ar unwaith</li>
          <li>bod unrhyw ddata personol anghyflawn yn cael ei gwblhau - gallwch wneud hyn trwy anfon 'datganiad atodol' sy'n egluro beth sydd o'i le ar y data rydym wedi'i gasglu</li>
          <li>bod eich data personol yn cael ei ddileu os nad oes rheswm i ni ei ddal bellach</li>
          <li>bod prosesu eich data personol yn gyfyngedig o dan rai amgylchiadau, er enghraifft os ydym wedi casglu gwybodaeth anghywir</li>
        </ol>

    <h2 class="govuk-heading-l" id="links-to-other-websites">Dolenni i wefannau eraill</h2>
    <p>Mae GOV.UK Verify yn un o'r gwasanaethau ar GOV.UK ac mae ganddo gysylltiadau â gwefannau eraill.</p>
    <p>Mae'r hysbysiad preifatrwydd hwn ond yn berthnasol i <a href="https://www.gov.uk/government/publications/introducing-govuk-verify">GOV.UK Verify</a> ac nid yw'n cynnwys gwasanaethau eraill y llywodraeth, cwmnïau na chynlluniau hunaniaeth ddigidol rydym yn cysylltu â nhw. Darllenwch eu telerau ac amodau eu hunain, polisïau preifatrwydd a rheolwyr data os ydych am ddarganfod sut maet yn prosesu'ch data personol.</p>

    <h2 class="govuk-heading-l" <h2 class="govuk-heading-l" id="childrens-privacy-protection">Diogelwch preifatrwydd plant</h2>
    <p>Rydym yn deall pwysigrwydd amddiffyn preifatrwydd plant ar-lein. Nid yw GOV.UK Verify wedi'i gynllunio ar gyfer plant 13 oed neu'n iau na'u targedu'n fwriadol. Ni fyddwn yn casglu nac yn cadw data am unrhyw un o dan 13 oed yn fwriadol.</p>
    
    <h2 class="govuk-heading-l" id="how-we-protect-your-data-and-keep-it-secure">Sut rydym yn gwarchod eich data a'i gadw'n ddiogel</h2>
    <p>Rydym wedi ymrwymo i wneud popeth o fewn ein gallu i gadw'ch data yn ddiogel. Rydym wedi sefydlu systemau a phrosesau i atal mynediad neu ddatgeliad sydd heb awdurdod at eich data. Er enghraifft, rydym yn diogelu eich data drwy ddefnyddio lefelau amrywiol o amgryptio.</p>
    <p>Rydym hefyd yn sicrhau bod gan unrhyw drydydd parti rydym yn delio â hwy rwymedigaeth i gadw'r holl ddata personol y maent yn ei brosesu ar ein rhan yn ddiogel.</p>

    <h2 class="govuk-heading-l" id="changes-to-this-notice">Newidiadau i'r hysbysiad hwn</h2>
    <p>Efallai byddwn yn newid yr hysbysiad preifatrwydd hwn. Mewn achos o'r fath, bydd y dyddiad 'diweddarwyd diwethaf' sydd ar waelod y dudalen hon yn newid. Bydd unrhyw newidiadau i'r hysbysiad perifatrwydd hwn yn gymwys i chi a'ch data o'r dyddiad hwnnw.</p>
    <p>Rydym yn eich annog i adolygu'r hysbysiad preifatrwydd hwn yn rheolaidd i ddarganfod sut rydym yn amddiffyn eich data.</p>

    <h2 class="govuk-heading-l" id="contact-us-or-make-a-complaint">Cysylltwch â ni neu gwnewch gŵyn</h2>
    <p>Gallwch gysylltu â Thîm Dilysu Preifatrwydd GOV.UK Verify yn <a href="mailto:verify-privacy@digital.cabinet-office.gov.uk">verify-privacy@digital.cabinet-office.gov.uk</a> os ydych:</p>
    <ol class="govuk-list govuk-list--bullet">
    <li>â chwestiwn am unrhyw beth yn yr hysbysiad preifatrwydd</li>
    <li>yn credu bod eich data personol wedi cael ei gamddefnyddio neu ei gam-drin</li>
    </ol>

    <h2 class="govuk-heading-l" id="contact-an-independent-body">Cysylltwch â chorff annibynnol</h2>
    <p>Gallwch gysylltu â Swyddog Diogelu Data Swyddfa'r Cabinet (DPO), sy'n darparu cyngor annibynnol a monitro ein defnydd o ddata personol.</p>
    <p>
    <b>Swyddog Diogelu Data Swyddfa'r Cabinet</b>
    <br>
    <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a>
    <br>
    </p>
    <p>
    <address>
    Data Protection Officer
    <br>
    Cabinet Office
    <br>
    70 Whitehall
    <br>
    London
    <br> 
    SW1A 2AS
    </address>
    </p>
    <p>Gallwch hefyd gwyno i Swyddfa'r Comisiynydd Gwybodaeth (ICO), sy'n rheoleiddiwr annibynnol.</p>
    <p>
    ICO<br>
    <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br>
    Ffôn: 0303 123 1113<br>
    Ffôn testun: 01625 545 860<br>
    Dydd Llun i ddydd Gwener, o 9am i 4:30pm
    </p>
    <p><a href="https://www.gov.uk/call-charges">Darganfyddwch am gostau galwadau</a>.</p>
    <p>
    <address>
    Information Commissioner's Office
    <br>
    Wycliffe House
    <br>
    Water Lane
    <br>
    Wilmslow
    <br>
    Cheshire 
    <br>
    SK9 5AF
    </address>
    </p>
    <div class="meta-data group">
      <p class="modified-date">Diweddarwyd diwethaf: 22 Hydref 2019</p>
    </div>
  </div>
</div>
