<% content_for :page_title, 'Privacy notice' %>
<% content_for :feedback_source, 'PRIVACY_NOTICE_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Hysbysiad preifatrwydd GOV.UK Verify</h1>
    <ul class="list">
      <li><a href="#summary">Crynodeb</a></li>
      <li><a href="#privacy-policies-of-certified-companies-and-government-departments">Polisïau preifatrwydd y cwmnïau
        ardystiedig ac adrannau’r llywodraeth</a></li>
      <li><a href="#how-we-use-information">Sut rydym yn defnyddio gwybodaeth</a></li>
      <li><a href="#what-information-we-process">Pa wybodaeth rydym yn ei brosesu</a></li>
      <li><a href="#definitions">Diffiniadau</a></li>
      <li><a href="#disclosing-your-information">Datgelu eich gwybodaeth</a></li>
      <li><a href="#where-your-data-is-stored">Lle mae eich data yn cael ei gadw</a></li>
      <li><a href="#keeping-your-data-secure">Cadw eich data yn ddiogel</a></li>
      <li><a href="#further-information">Gwybodaeth bellach</a></li>
      <li><a href="#asking-to-see-your-personal-data">Gofyn am gael gweld eich data personol</a></li>
      <li><a href="#how-to-make-a-complaint">Sut i wneud cwyn</a></li>
      <li><a href="#contacting-us">Cysylltu â ni</a></li>
    </ul>
    <h2 class="heading-medium" id="summary">Crynodeb</h2>
    <p><strong>Darperir GOV.UK Verify gan Wasanaeth Digidol y Llywodraeth (GDS). Rydym yn defnyddio eich data personol
      i’ch helpu i weithredu’n ddiogel gyda gwasanaethau’r llywodraeth.</strong></p>
    <p>Mae GOV.UK Verify yn eich galluogi i gael mynediad at
      <a href="#government-services">wasanaethau’r llywodraeth</a> yn ddiogel. Byddwch yn defnyddio GOV.UK Verify i
      ddewis <a href="#certified-company">cwmni ardystiedig</a> sy’n dilysu pwy ydych chi. Unwaith y bydd eich
      hunaniaeth wedi cael ei ddilysu, mae’r cwmni ardystiedig yn trosglwyddo’r wybodaeth sydd wedi’i dilysu yn ôl i
      GOV.UK Verify, sy’n anfon y wybodaeth hon at y gwasanaeth y llywodraeth rydych yn ceisio cael mynediad ato.</p>
    <p>Mae’r hysbysiad preifatrwydd hwn yn egluro pa wybodaeth y gallwn ei chasglu, sut y caiff ei defnyddio, sut y
      caiff ei diogelu a sut y gallwch gael gwybod amdani.</p>
    <h2 class="heading-medium" id="privacy-policies-of-certified-companies-and-government-departments">Polisïau
      preifatrwydd y cwmnïau ardystiedig ac adrannau’r llywodraeth</h2>
    <p>Mae gan y cwmnïau ardystiedig eu polisïau preifatrwydd eu hunain sy’n berthnasol i’r ffordd maent hwy yn trin
      eich data personol fel rhan o’r broses dilysu hunaniaeth. Yn yr un modd, mae gan y gwasanaethau’r llywodraeth eu
      polisïau preifatrwydd eu hunain sy’n berthnasol i’r ffordd maent hwy yn trin eich data personol pan fyddwch yn
      defnyddio eu gwasanaethau.</p>
    <h2 class="heading-medium" id="how-we-use-information">Sut rydym yn defnyddio gwybodaeth</h2>
    <p>Rydym yn defnyddio data personol a gwybodaeth arall i’ch helpu chi i weithredu’n ddiogel gyda gwasanaethau’r
      llywodraeth. Gall hyn gynnwys:</p>
    <ul class="list-bullet list">
      <li>Trosglwyddo gwybodaeth am ddewisiadau a wnaethoch i gwmnïau ardystiedig ar y
        <a href="#the-gov-uk-verify-hub">GOV.UK Verify Hub</a>. Mae hwn yn helpu cwmnïau ardystiedig i’ch arwain drwy’r
        broses, gan wneud eich broses wirio yn symlach ac yn gyflymach.
      </li>
      <li>Ar eich cais, bydd eich cwmni ardystiedig yn anfon y data â wirwyd amdanoch chi (eich enw, cyfeiriad a dyddiad
        geni ynghyd â’ch rhyw os byddwch yn dewis ei darparu) i’r ’GOV.UK Verify Hub’, a bydd yr Hub yn ei anfon at y
        gwasanaeth y llywodraeth rydych am gael mynediad ato. Ni fydd y cwmni ardystiedig rydych yn ei ddefnyddio yn
        gwybod pa wasanaeth y llywodraeth sydd wedi gofyn am y wybodaeth hon. Yn yr un modd, ni fydd y gwasanaeth y
        llywodraeth yn gwybod pa gwmni ardystiedig a ddewiswyd gennych.
      </li>
      <li>Darparu <a href="#document-checking-service">Gwasanaeth Gwirio Dogfen (DCS)</a> i gwmnïau ardystiedig, sy’n eu
        galluogi i wirio dilysrwydd eich pasport y DU neu drwydded yrru gyda Swyddfa Pasbort EM (HMPO) a’r Asiantaeth
        Trwyddedu Gyrwyr a Cherbydau (DVLA). Nid yw’r data mae HMPO a DVLA yn ei gadw amdanoch yn cael ei rhannu gyda’r
        cwmnïau ardystiedig gan DCS. Mae’r cwmnïau ardystiedig yn darparu DCS gyda’r wybodaeth rydych wedi’i roi am eich
        trwydded yrru neu basbort, ac yn derbyn ateb syml o ie/na os yw’r ddogfen yn ddilys ai peidio.
      </li>
      <li>Darparu cymorth i ddefnyddwyr pan fyddwch yn gofyn amdano i ddatrys problemau rydych dod ar eu traws a chasglu
        adborth i ddatblygu gwasanaethau. Gyda’ch caniatâd, gall cymorth defnyddwyr ofyn am wybodaeth bellach gennych,
        neu drosglwyddo eich gwybodaeth i gwmni ardystiedig neu wasanaeth y llywodraeth, er mwyn datrys eich problem.
      </li>
      <li>Monitro ac adrodd sut mae’r gwasanaeth yn gweithio a sut mae’n cael ei ddefnyddio.</li>
      <li>Darogan y nifer sy’n ei ddefnyddio e.e. at dibenion adnoddau a chreu adroddiadau ar gyfer bilio.</li>
      <li>Helpu i atal twyll yng ngwasanaethau’r llywodraeth a chanfod twyll hunaniaeth wrth ddilysu hunaniaeth.</li>
      <li>Gwella eich profiad o GOV.UK Verify a datblygu’r gwasanaeth.</li>
    </ul>
    <h2 class="heading-medium" id="what-information-we-process">Pa wybodaeth rydym yn ei brosesu</h2>
    <p>Rydym yn prosesu gwybodaeth amdanoch chi pan fyddwch yn defnyddio GOV.UK Verify. Gall hyn gynnwys:</p>
    <ul class="list-bullet list">
      <li>Atebion a ddarparwch o fewn ’GOV.UK Verify Hub’ mewn ymateb i gwestiynau penodol i’ch helpu i ddewis cwmni
        ardystiedig, er enghraifft, os ydych dros oedran penodol neu pa ddogfennau sydd gennych. Nid ydym yn ceisio eich
        adnabod o’r rhain.
      </li>
      <li>Efallai y byddwn, ar eich cais, yn anfon ymlaen eich data personol o’ch cwmni ardystiedig a ddewiswyd gennych
        i’r gwasanaeth y llywodraeth rydych yn dymuno cael mynediad ato. Mae’r data personol, a elwir yn Set Paru Data,
        yn cael ei ddarparu gennych i’r cwmni ardystiedig, ac mae’n cynnwys enw presennol (ac yn ddewisol blaenorol),
        cyfeiriad, dyddiad geni ac yn ddewisol eich rhyw. Nid yw’r Set Paru Data yn cael ei gadw yn y ’GOV.UK Verify
        Hub’ unwaith y mae wedi cael ei drosglwyddo i’r gwasanaeth y llywodraeth, ac nid yw’n cael ei fonitro.
      </li>
      <li>Rydym hefyd yn anfon lefel y sicrwydd, y dyddiad a’r amser, dynodwr sy’n cael ei ddefnyddio i helpu yn y
        <a href="#matching-a-government-service">broses o baru</a> a rhai manylion adnabod anhysbys sy’n cael eu
        defnyddio i reoli hygrededd y sesiwn ddilysu. Mae’r rhain yn cael eu storio ar gyfer monitro a dibenion
        atebolrwydd.
      </li>
      <li>Cwestiynau neu adborth a anfonwch at gefnogaeth defnyddiwr, gan gynnwys eich enw a chyfeiriad e-bost, manylion
        am eich ymholiad, a’r camau rydym wedi’u cymryd i gynorthwyo.
      </li>
      <li>Efallai y byddwn hefyd yn casglu y <a href="#ip-address">cyfeiriad IP</a>,
        <a href="#device-fingerprinting">olion bysedd dyfais</a> a manylion pa ddyfais a pha fersiwn o’r porwr gwe sy’n
        cael ei ddefnyddio i gael mynediad i’r gwasanaeth. Defnyddir y data hwn ar gyfer monitro ac adrodd a thwyll
        dibenion atal, ac nid ydym yn ceisio adnabod chi ohoni.
      </li>
      <li>Efallai y byddwn yn casglu data dienw am pa wasanaeth y llywodraeth ofynnodd i’r defnyddiwr i ddilysu, y cwmni
        ardystiedig a ddewiswyd, os oedd y cwmni ardystiedig yn gallu dilysu defnyddiwr, os oedd y paru yn llwyddiannus
        yn y gwasanaeth y llywodraeth, a pha dudalennau yr ymweldwyd â hwy yn y ’GOV.UK Verify Hub’. Defnyddir y
        wybodaeth hon yn ddienw ac nid ydym yn ceisio eich adnabod ohonno, ac eithrio pan fyddwch yn rhoi eich manylion
        cyswllt i gefnogi defnyddwyr.
      </li>
    </ul>
    <h2 class="heading-medium" id="definitions">Diffiniadau</h2>
    <ul class="list">
      <li id="the-gov-uk-verify-hub"><em>GOV.UK Verify Hub:</em> Y GOV.UK Verify Hub yw’r seilwaith sy’n caniatáu
        cyfathrebu rhwng y defnyddiwr, y cwmni ardystiedig a gwasanaeth y llywodraeth.
      </li>
      <li id="certified-company"><em>Cwmni ardystiedig:</em> Pan fyddwch yn defnyddio GOV.UK Verify i gael mynediad at
        wasanaeth y llywodraeth, byddwch yn dewis o restr o gwmnïau ardystiedig i ddilysu eich hunaniaeth cyn cadarnhau
        hyn i’r gwasanaeth y llywodraeth rydych yn ceisio ei ddefnyddio. Mae cwmnïau ardystiedig yn gwmnïau sydd wedi
        cael eu hardystio fel eu bod yn cwrdd a phrotocolau a safonau ar gyfer sicrhau hunaniaeth a diogelwch gwybodaeth
        a gytunwyd gan y llywodraeth ar diwydiant ac wedi cwblhau
        <a href="https://identityassurance.blog.gov.uk/2015/07/17/gov-uk-verify-making-sure-certified-companies-are-ready-to-connect/">proses
          onboarding drwyadl</a>.
        <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#certified-companies">Rydym
          yn cyhoeddi rhestr lawn o gwmnïau ardystiedig</a>.
      </li>
      <li id="government-services"><em>Gwasanaethau’r Llywodraeth:</em> Mae gwasanaethau’r llywodraeth yn wasanaethau y
        gallwch eu defnyddio gyda GOV.UK Verify sy’n eich galluogi i wneud pethau fel cyflwyno eich treth neu wirio’r
        wybodaeth ar eich trwydded yrru ar-lein.
        <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#government-services-you-can-use-with-govuk-verify">Rydym
          yn cyhoeddi rhestr lawn o wasanaethau cysylltiedig</a>.
      </li>
      <li id="ip-address"><em>Cyfeiriad IP:</em> Cyfeiriad Protocol Rhyngrwyd cyhoeddus y ddyfais sy’n cael ei
        ddefnyddio i gysylltu â GOV.UK Verify.
      </li>
      <li id="device-fingerprinting"><em>Olion bysedd dyfais:</em> gwybodaeth a gasglwyd am dyfais gyfrifiadurol o bell
        ar gyfer y diben o adnabod dyfais.
      </li>
      <li id="document-checking-service">
        <em><a href="https://identityassurance.blog.gov.uk/2014/10/10/introducing-the-document-checking-service/">Gwasanaeth
          Gwirio Dogfen</a></em>: API (Rhyngwyneb Rhaglennu Cais ) a ddarperir gan Gwasanaeth Digidol y Llywodraeth i
        gwmnïau ardystiedig i’w galluogi i ddilysu manylion dogfennau’r llywodraeth, gan gynnwys pasbortau a thrwyddedau
        gyrru.
      </li>
      <li id="matching-a-government-service"><em>Paru gyda gwasanaeth y llywodraeth:</em> Pan fyddwch yn ymweld â
        gwasanaeth y llywodraeth, ar ôl dilysu gyda chwmni ardystiedig, mae’r gwasanaeth y llywodraeth yn cymryd camau i
        sicrhau y paru cywir rhwng eich hunaniaeth sydd wedi’i ddilysu a’u cofnod yn eu ffynonellau data. Mae’r broses
        baru yn caniatáu i’r gwasanaeth y llywodraeth i fod yn sicr mai’r person sy’n ceisio cael mynediad at y
        gwasanaeth yw perchennog y data sydd eisoes ar ffeil gan y gwasanaeth y llywodraeth hwnnw.
      </li>
    </ul>
    <h2 class="heading-medium" id="disclosing-your-information">Datgelu eich gwybodaeth</h2>
    <p>Rydym ond yn rhannu gwybodaeth gyda gwasanaethau’r llywodraeth a chwmnïau ardystiedig yn y ffyrdd a ddisgrifir
      uchod. Ni fyddwn yn rhannu eich data personol gydag unrhyw sefydliadau eraill neu ar gyfer marchnata, ymchwil
      marchnad neu ddibenion masnachol.</p>
    <p>Efalllai y byddwn yn trosglwyddo’r data personol os oes gennym reswm cyfreithlon i wneud hynny, er enghraifft,
      fel rhan o ymchwiliad troseddol neu weithgaredd atal twyll.</p>
    <h2 class="heading-medium" id="where-your-data-is-stored">Lle mae eich data yn cael ei gadw</h2>
    <p>Rydym yn prosesu eich data personol yn yr Ardal Economaidd Ewropeaidd (AEE).</p>
    <h2 class="heading-medium" id="keeping-your-data-secure">Cadw eich data yn ddiogel</h2>
    <p>Rydym wedi ymrwymo i ddiogelu’r wybodaeth a roddwch. Rydym yn sicrhau bod camau priodol yn cael eu cymryd i atal
      datgelu, lladrad neu addasu heb awdurdod o’ch gwybodaeth. Rydym yn deall pa mor bwysig ydyw i ddiogelu data
      personol a gwybodaeth sensitif arall. Mae hyn yn cynnwys amgryptio data, yn ogystal â sicrhau bod data yn cael ei
      anfon drwy sianelau amgryptio (fel Lefel Cludiant Diogelwch).</p>
    <h2 class="heading-medium" id="further-information">Gwybodaeth bellach</h2>
    <p>Mae GOV.UK Verify wedi ei gynllunio yn unol â’r
      <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/361496/PCAG_IDA_Principles_3.1__4_.pdf">Egwyddorion
        Sicrwydd Hunaniaeth</a> a baratowyd gan y
      <a href="https://www.gov.uk/government/groups/privacy-and-consumer-advisory-group">Grŵp Cynghori Defnyddwyr
        Preifatrwydd</a> Swyddfa’r Cabinet.
    <p>Gallwch hefyd ddod o hyd i wybodaeth fanylach am y gwasanaeth o fewn
      <a href="https://identityassurance.blog.gov.uk/">Blog GOV.UK Verify</a>.
    <h2 class="heading-medium" id="asking-to-see-your-personal-data">Gofyn am gael gweld eich data personol</h2>
    <p>Os ydych yn dymuno gweld data personol sy’n cael ei gasglu gan gwmni ardystiedig neu gan wasanaeth y llywodraeth,
      mae angen i chi gysylltu â hwy’n uniongyrchol.</p>
    <p>Gallwch hefyd ofyn am gael gweld y wybodaeth bersonol sydd gennym amdanoch chi. I wneud hynny, anfonwch e-bost
      neu ysgrifenwch atom. NI chodir tâl am wybodaeth a ddarperir. Mewn amgylchiadau cyfyngedig iawn, efallai y byddwn
      yn atal peth gwybodaeth yn unol â Rhan II o’r Ddeddf Diogelu Data 1998.</p>
    <h2 class="heading-medium" id="how-to-make-a-complaint">Sut i wneud cwyn</h2>
    <p>Os ydych yn anfoldon gyda’r ffordd y mae GOV.UK Verify yn ymdrin â’ch data personol, gallwch e-bostio neu
      ysgrifennu atom. Byddwch yn cael cadarnhad o fewn 5 diwrnod gwaith ein bod wedi derbyn eich cwyn ac ateb llawn o
      fewn 20 diwrnod gwaith. Byddwn yn rhoi gwybod i chi os oes oedi yn mynd i fod.</p>
    <p>Os ydych yn anfoldon â’r ateb a gewch, neu os ydych angen unrhyw gyngor ynghylch defnyddio eich data personol,
      gallwch gysylltu â Swyddfa’r Comisiynydd Gwybodaeth (ICO), <a href="https://ico.org.uk/">https://ico.org.uk/</a>.
    <h2 class="heading-medium" id="contacting-us">Cysylltu â ni</h2>
    <p>Mae GOV.UK Verify yn wasanaeth a ddarperir gan GDS, sy’n rhan o Swyddfa’r Cabinet. Mae Swyddfa’r Cabinet yn
      rheolwr data cofrestredig gyda Swyddfa Comisiynydd Gwybodaeth y DU, rhif cofrestru Z7414053.</p>
    <p>Gallwch gysylltu â ni:</p>
    <p>
    <address>
      GOV.UK Verify User Support
      <br>
      Government Digital Service
      <br>
      Aviation House
      <br>
      125 Kingsway
      <br>
      London
      <br>
      WC2B 6SE
      <br>
      Drwy e-bost: <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a>
    </address>
    </p>
    <div class="meta-data group">
      <p class="modified-date">Last updated: 27 April 2016</p>
    </div>
  </div>
</div>