<% content_for :page_title, 'Privacy notice' %>
<% content_for :page_title_in_english, 'Privacy notice' %>
<% content_for :head do
  tag('meta', :name => 'verify|title', :content => content_for(:page_title_in_english))
end %>
<% content_for :feedback_source, 'PRIVACY_NOTICE_PAGE' %>
<% content_for :show_to_search_engine, true %>

<p class="grid-row">
  <p class="column-two-thirds">
    <h1 class="heading-large">Privacy notice</h1>
    <p>Revised on: March 2018</p>
    <h2 class="heading-medium" id="who-we-are">Who we are</h2>
    <p>GOV.UK Verify is built and run by the Government Digital Service (GDS). GOV.UK Verify allows you to prove your identity when using digital government services like the service you used to <a href="https://www.gov.uk/log-in-file-self-assessment-tax-return">sign in and file your Self Assessment tax return</a>. This privacy notice explains what information we might collect, how it is used and how it’s protected.
    <h2 class="heading-medium" id="how-we-use-info">How we use information</h2>
    <p>GOV.UK Verify provides a ‘hub’ between services and ‘<a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#companies-that-can-verify-your-identity">certified companies</a>’ who can verify users’ identities. Certified companies are organisations that have met government and industry standards to provide identity assurance services as part of GOV.UK Verify. We use personal data and other information to help you to transact securely with government services. This may include any of the following 6 things.

    <ol class="list-number list">
      <li><h4 class="heading-small" id="sending-information">Sending information to certified companies</h4>
        GOV.UK Verify may pass information about answers you gave on the GOV.UK Verify hub to certified companies. This helps certified companies to guide you through the verification process, making it simpler and faster.
      </li>
      <li><h4 class="heading-small" id="comp-send-info-to-hub">Certified companies sending information to the hub</h4>
      The certified company you choose will send the verified data about you (your name, address and date of birth along with your gender if you choose to provide it) to the hub, and the hub will send it to the government service that you want to access. The certified company you use won’t know which government service has requested this information, and the government service won’t know which certified company you have chosen.
    </li>
      <li><h4 class="heading-small" id="document-checking-service">Document Checking Service</h4>
        We provide a Document Checking Service (DCS) API to certified companies so they can check the validity of your UK passport or driving licence with HM Passport Office (HMPO) and the Driver and Vehicle Licensing Agency (DVLA).
        <br>
        <br>
        The data that HMPO and DVLA hold about you is not shared with the certified companies by DCS. The certified companies provide DCS with the information you have given about your driving licence or passport and receive a simple 'yes/no' answer to confirm whether that document is valid or not.
      </li>
      <li><h4 class="heading-small" id="user-support">User support</h4>
        When you contact the GOV.UK Verify user support team for help, we might:
        <ul class="list-bullet list">
          <li>ask for further information from you</li>
          <li>pass your query or feedback to a certified company or government service</li>
        </ul>
        We might also ask for further feedback to help improve the service.
      </li>
      <li><h4 class="heading-small" id="monitoring-and-reporting">Monitoring and reporting</h4>
        We monitor and report on GOV.UK Verify so we can review and improve the service that we provide to government organisations.
      </li>
      <li><h4 class="heading-small" id="identity-standards-and-fraud">Identity standards and fraud</h4>
        We help to prevent fraud in government services by maintaining the government’s identity standards and detecting identity fraud when verifying identities.
      </li>
    </ol>
    <h2 class="heading-medium" id="what-information-we-process">What information we process</h2>
    <p>We process information about you when you use GOV.UK Verify. This may include any of the following 5 things.</p>
    <ol class="list-number list">
      <li><h4 class="heading-small" id="answers-specific-questions">Answers you give to specific questions</h4>
      We process the answers you provide in the GOV.UK Verify hub to help you select a certified company, for example whether you’re over a certain age or which documents you have. We do not attempt to identify you from your answers.
    </li>
      <li><h4 class="heading-small" id="personal-data ">Personal data</h4>
        To verify your identity, we will pass the personal data that you give to your chosen certified company to the government service that you want to access. Your verified identity will then be matched to a record in a government database.
        <br>
        The personal data that you give to the certified company (known as the ‘matching data set’), contains verified information about you including name, address, date of birth and gender (if you provide it). You can also to choose provide your previous name, address, date of birth and gender. This matching data set is not stored in the GOV.UK Verify hub after it has been passed to the government service, and it isn’t monitored.
      </li>
      <li><h4 class="heading-small" id="user-support-questions-and-feedback">User support questions and feedback</h4>
        We process questions or feedback you send to user support, including your name and email address, details of your query, and actions we have taken to help.
      </li>
      <li><p class="heading-small" id="technical-information">Technical information</p>
        When you connect to GOV.UK Verify, we may also collect some other information including personal and general information. This data is used for monitoring, reporting and fraud prevention purposes, and we do not try to identify you from it.
        <br>
        <br>
          <p class="bold-small" id="personal-information">
            Personal information
            <ul class="list-bullet list">
              <li>the IP address of the device you’re using to connect</li>
              <li>the ‘device fingerprint’, which is information collected about a remote computing device for device identification</li>
            </ul>
          </p>
        <p class="bold-small" id="general-information">
          General information
        <ul class="list-bullet list">
          <li>details of what device you’re using to connect </li>
          <li>which version of web browser you’re using to connect </li>
        </ul>
        </p>
      </li>
      <li><h4 class="heading-small" id="anonymous-data">Anonymous data</h4>
        We may collect anonymous data about:
        <ul class="list-bullet list">
          <li>what government service needed you to verify</li>
          <li>the certified company chosen</li>
          <li>whether the certified company was able to verify you</li>
          <li>whether ‘matching’ was successful at the government service</li>
          <li>what pages you visited in the GOV.UK Verify hub</li>
        </ul>
        We do not try to identify you from this data, except when you give your contact details to user support.
      </li>
    </ol>
    <h2 class="heading-medium" id="cookies-and-analytics">Cookies and analytics</h2>
    <p>You can read our full <a href="https://www.signin.service.gov.uk/cookies">cookie notice</a> to find out how we use cookies to track user journeys using PIWIK.</p>
    <h2 class="heading-medium" id="How-long-we-keep-your-data">How long we keep your data for</h2>
    <p>We will only retain your personal data for as long as:
      <ul class="list-bullet list">
        <li>the law requires us to</li>
        <li>we need to provide this service</li>
      </ul>
      In general, this means that we will only hold your personal data for a minimum of 1 year and a maximum of 7 years.
    </p>
    <h2 class="heading-medium" id="companies-and-government-organisations">Certified companies and government organisations</h2>
    <p>The government organisations and certified companies that we partner with are the <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/key-definitions/">data controllers</a> who will also process your data for their own purpose. These might not be described in this privacy notice. Read their privacy policies to learn about how they process your data and how to exercise your rights and the processing of your personal data.
    </p>
    <h2 class="heading-medium" id="sharing-information-with-third-parties">Sharing information with third parties</h2>
    <p>We share information with government services and certified companies to verify your identity and only in the ways described in this privacy notice. We won’t share your personal data with any other organisations or for marketing, market research or commercial purposes.
      <br>
      We may pass on personal data if we have a lawful reason, for example as part of a criminal investigation or fraud prevention activity.
    </p>
    <h2 class="heading-medium" id="social-media-applications">Social media applications</h2>
    <p>This website may host various blogs, forums, wikis and other social media applications or services that allow you to share content with other users. Any personal information or other information that you contribute to any social media application can be read, collected, and used by other users of that social media application. We are not responsible for any other user’s use, misuse, or misappropriation of any information that you contribute to any social media application.</p>
    <h2 class="heading-medium" id="where-data-is-stored">Where your data is stored</h2>
    <p>We process your personal data in the European Economic Area (EEA).</p>
    <h2 class="heading-medium" id="links-to-other-websites">Links to other websites</h2>
    <p>GOV.UK Verify is one of the services on GOV.UK and has links to other websites. This privacy notice only applies to <a href="https://www.gov.uk/government/publications/introducing-govuk-verify">GOV.UK Verify</a> and doesn’t cover other government services and transactions that we link to.
    </p>
    <h2 class="heading-medium" id="follow-link-to-another-website">Following a link to another website</h2>
    <p>If you go to another website from this one, read the privacy notice on that website to find out what it does with your information.
    </p>
    <h2 class="heading-medium" id="follow-link-to-verify-from-another-website">Following a link to GOV.UK Verify from another website</h2>
    <p>If you come to GOV.UK from another website, we may receive information from the other website. We don’t use this data. You should read the privacy notice of the website you came from to find out more about this.</p>
    <h2 class="heading-medium" id="identity-assurance-principles">Identity Assurance Principles</h2>
    <p>GOV.UK Verify has been designed to comply with the <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/361496/PCAG_IDA_Principles_3.1__4_.pdf">Identity Assurance Principles</a> prepared by the Cabinet Office <a href="https://www.gov.uk/government/groups/privacy-and-consumer-advisory-group">Privacy and Consumer Advisory Group</a>.
      You can also find more detailed information about the service on the </a> prepared by the Cabinet Office <a href="https://identityassurance.blog.gov.uk/">GOV.UK Verify blog</a>.
    </p>
    <h2 class="heading-medium" id="children-privacy-protection">Children’s privacy protection</h2>
    <p>We understand the importance of protecting children's privacy online. GOV.UK Verify is not designed for, or intentionally targeted at, children 13 years of age or younger. It is not our policy to intentionally collect or maintain data about anyone under the age of 13.
    </p>
    <h2 class="heading-medium" id="how-we-protect-your-data">How we protect your data and keep it secure</h2>
    <p>We are committed to doing all that we can to keep your data secure. To prevent unauthorised access or disclosure we have put in place technical and organisational procedures to secure the data we collect about you - for example, we protect your data using varying levels of encryption.We also make sure that any third parties that we deal with have an obligation to keep all personal data they process on our behalf secure.
    </p>
    <h2 class="heading-medium" id="changes-to-this-notice">Changes to this notice</h2>
    <p>We may update or change this privacy notice at any time. Any update or change to this privacy notice will be applied to your data from the revision date. We encourage you to review this privacy notice regularly to stay informed about how we are protecting your data.
    </p>
    <h2 class="heading-medium" id="who-controls-your-data">Who controls your data</h2>
    <p>The data controller for your personal data is the Cabinet Office – a data controller determines how and why personal data is processed. <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">Read the Cabinet Office’s entry in the Data Protection Public Register</a> for more information.
    </p>
    <p><h4 class="heading-medium" id="your-rights">Your rights</h4>
    You have the right to:
    <ul class="list-bullet list">
        <li>request information about how your personal data is processed and to request a copy of that personal data you’ve given to us
        </li>
        <li>request that any inaccuracies about your personal data to be corrected without delay.</li>
        <li>request that any incomplete personal data are completed, including by means of a supplementary statement. </li>
        <li>request that your personal data is erased if there is no longer a justification for us to hold it</li>
        <li>request that the processing of your personal data is restricted in certain circumstances- for example, where accuracy is contested.</li>
      </ul>
    If your personal data is processed on the basis of consent, then you have the right to withdraw your consent at any time.
    </p>
    <h2 class="heading-medium" id="how-to-contact-us">How to contact us</h2>
    <p>If you have any questions about anything in this document or if you believe your personal data has been misused or mishandled you can contact the Cabinet Office Data Protection Officer (DPO) at <a href="DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a></p>
    <p>Or by post at:</p>
    <p>
    <address>
      Data Protection Officer
      <br>
      Cabinet Office
      <br>
      70 Whitehall
      <br>
      London SW1A 2AS
    </address>
    </p>

    <p>You can make a complaint to the Information Commissioner’s Office (ICO), who is an independent regulator. The Information Commissioner can be contacted at <a href="casework@ico.org.uk">casework@ico.org.uk</a> or on  0303 123 1113</p>

    <p>Or by post at:</p>
    <p>
    <address>
      Information Commissioner's Office
      <br>
      Wycliffe House
      <br>
      Water Lane
      <br>
      Wilmslow
      <br>
      Cheshire SK9 5AF
    </address>
    </p>
    <div class="meta-data group">
      <p class="modified-date">Last updated: 27 April 2016</p>
    </div>