<% content_for :page_title, 'Privacy notice' %>
<% content_for :page_title_in_english, 'Privacy notice' %>
<% content_for :head do
  tag('meta', :name => 'verify|title', :content => content_for(:page_title_in_english))
end %>
<% content_for :feedback_source, 'PRIVACY_NOTICE_PAGE' %>
<% content_for :show_to_search_engine, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">GOV.UK Verify privacy notice</h1>
    <ul class="list">
      <li><a href="#summary">Summary</a></li>
      <li><a href="#privacy-policies-of-certified-companies-and-government-departments">Privacy policies of certified
        companies and government departments</a></li>
      <li><a href="#how-we-use-information">How we use information</a></li>
      <li><a href="#what-information-we-process">What information we process</a></li>
      <li><a href="#definitions">Definitions</a></li>
      <li><a href="#disclosing-your-information">Disclosing your information</a></li>
      <li><a href="#where-your-data-is-stored">Where your data is stored</a></li>
      <li><a href="#keeping-your-data-secure">Keeping your data secure</a></li>
      <li><a href="#further-information">Further information</a></li>
      <li><a href="#asking-to-see-your-personal-data">Asking to see your personal data</a></li>
      <li><a href="#how-to-make-a-complaint">How to make a complaint</a></li>
      <li><a href="#contacting-us">Contacting us</a></li>
    </ul>
    <h2 class="heading-medium" id="summary">Summary</h2>
    <p><strong>GOV.UK Verify is provided by the Government Digital Service (GDS). We use your personal data to help you
      to transact securely with government services.</strong></p>
    <p>GOV.UK Verify allows you to access <a href="#government-services">government services</a> securely. You use
      GOV.UK Verify to pick a <a href="#certified-company">certified company</a> which verifies your identity. Once your
      identity has been verified, the certified company passes the verified information back to GOV.UK Verify, which sends this
      information to the government service you are trying to access.</p>
    <p>This privacy notice explains what information we might collect, how it’s used, how it’s protected and how you can
      find out about it.</p>
    <h2 class="heading-medium" id="privacy-policies-of-certified-companies-and-government-departments">Privacy policies
      of certified companies and government departments</h2>
    <p>The certified companies have their own privacy policies that apply to their handling of your personal data as part
      of the identity verification process. Likewise, the government services have their own privacy policies that apply
      to their handling of your personal data when you use their services.</p>
    <h2 class="heading-medium" id="how-we-use-information">How we use information</h2>
    <p>We use personal data and other information to help you to transact securely with government services. This may
      include:</p>
    <ul class="list-bullet list">
      <li>Passing information about selections you made on the <a href="#the-gov-uk-verify-hub">GOV.UK Verify Hub</a> to
        certified companies. This helps certified companies to guide you through the process, making your verification
        process simpler and faster.
      </li>
      <li>At your request, your certified company will send the verified data about you (your name, address and date of
        birth along with your gender if you choose to provide it) to the GOV.UK Verify Hub, and the Hub will send it to
        the government service that you want to access. The certified company you use won’t know which government service
        has requested this information. Likewise, the government service will not know which certified company you have
        chosen.
      </li>
      <li>Providing a <a href="#document-checking-service">Document Checking Service (DCS)</a> to certified companies,
        that allows them to check the validity of your UK passport or driving licence with HM Passport Office (HMPO) and
        the Driver &amp; Vehicle Licensing Agency (DVLA). The data that HMPO and DVLA hold about you is not shared with the
        certified companies by DCS. The certified companies provide DCS with the information you have given about your
        driving licence or passport, and receive a simple yes/no answer whether that document is valid or not.
      </li>
      <li>Providing user support when you request it to solve problems you have experienced and collect feedback to
        develop services. With your consent, user support may ask for further information from you, or pass your
        information to a certified company or government service, in order to solve your problem.
      </li>
      <li>Monitoring and reporting how the service works and how it’s used.</li>
      <li>Forecasting volumes for e.g. resourcing purposes and creating reports for billing.</li>
      <li>Helping to prevent fraud in government services and detecting identity fraud when verifying identities.</li>
      <li>Improving your experience of GOV.UK Verify and developing the service.</li>
    </ul>
    <h2 class="heading-medium" id="what-information-we-process">What information we process</h2>
    <p>We process information about you when you use GOV.UK Verify. This may include:</p>
    <ul class="list-bullet list">
      <li>Answers you provide in the GOV.UK Verify Hub in response to specific questions to help you select a certified
        company, for example whether you’re over a certain age or which documents you have. We do not attempt to identify
        you from these.
      </li>
      <li>We may, at your request, forward personal data from your chosen certified company to the government service
        that you wish to access. The personal data, known as the Matching Data Set, is provided by you to the certified
        company, and includes present (and optionally previous) name, address, date of birth and optionally gender. This
        Matching Data Set is not stored in the GOV.UK Verify Hub once it it has been passed to the government service,
        nor is it monitored.
      </li>
      <li>We also forward the level of assurance, the date and time, an identifier that is used to help in the
        <a href="#matching-a-government-service">matching process</a> and some anonymous identifiers that are used to
        manage the integrity of the authentication session. These are stored for monitoring and reporting purposes.
      </li>
      <li>Questions or feedback you send to user support, including your name and email address, details of your query,
        and actions we have taken to assist.
      </li>
      <li>We may also collect the <a href="#ip-address">IP address</a>,
        <a href="#device-fingerprinting">device fingerprint</a> and details of what device and which version of web
        browser was used to access the service. This data is used for monitoring and reporting and fraud prevention
        purposes, and we do not attempt to identify you from it.
      </li>
      <li>We may collect anonymous data about what government service required the user to authenticate, the certified
        company chosen, whether the certified company was able to verify the user, whether matching was successful at the
        government service, and what pages were visited in the GOV.UK Verify Hub. This information is used anonymously
        and we don’t attempt to identify you from it, except when you give your contact details to user support.
      </li>
    </ul>
    <h2 class="heading-medium" id="definitions">Definitions</h2>
    <ul class="list">
      <li id="the-gov-uk-verify-hub"><em>The GOV.UK Verify Hub:</em> The GOV.UK Verify Hub is the infrastructure that
        allows communication between the user, the certified company and the government service.
      </li>
      <li id="certified-company"><em>Certified company:</em> When you use GOV.UK Verify to access a government service,
        you choose from a list of companies certified to verify your identity before confirming this to the government
        service you&rsquo;re trying to use. Certified companies are companies that have been certified as meeting
        government and industry-agreed protocols and standards for identity assurance and information security and have
        completed a
        <a href="https://identityassurance.blog.gov.uk/2015/07/17/gov-uk-verify-making-sure-certified-companies-are-ready-to-connect/">rigorous
          onboarding process</a>.
        <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#certified-companies">We
          publish a full list of certified companies</a>.
      </li>
      <li id="government-services"><em>Government services:</em> Government services are services you can use with GOV.UK
        Verify that allow you to do things like like filing your tax or checking the information on your driving licence
        online.
        <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#government-services-you-can-use-with-govuk-verify">We
          publish a full list of connected services</a>.
      </li>
      <li id="ip-address"><em>IP address:</em> The public Internet Protocol address of the device being used to connect
        to GOV.UK Verify.
      </li>
      <li id="device-fingerprinting"><em>Device fingerprinting:</em> information collected about a remote computing
        device for the purpose of device identification.
      </li>
      <li id="document-checking-service">
        <em><a href="https://identityassurance.blog.gov.uk/2014/10/10/introducing-the-document-checking-service/">Document
          Checking Service</a></em>: An API (Application Programming Interface) provided by Government Digital Service
        to certified companies to allow them to validate the details of government documents, including passports and
        driving licences.
      </li>
      <li id="matching-a-government-service"><em>Matching a government service:</em> When you visit a government service,
        having authenticated with a certified company, the government service takes steps to ensure the correct match
        between your verified identity and their record in their data sources. The matching process allows the government
        service to be sure that the person trying to access the service is the owner of the data already held on file by
        that government service.
      </li>
    </ul>
    <h2 class="heading-medium" id="disclosing-your-information">Disclosing your information</h2>
    <p>We share information with government services and certified companies only in the ways described above. We won’t
      share your personal data with any other organisations or for marketing, market research or commercial purposes.</p>
    <p>We may pass on personal data if we have a lawful reason to do so, for example as part of a criminal investigation
      or fraud prevention activity.</p>
    <h2 class="heading-medium" id="where-your-data-is-stored">Where your data is stored</h2>
    <p>We process your personal data in the European Economic Area (EEA).</p>
    <h2 class="heading-medium" id="keeping-your-data-secure">Keeping your data secure</h2>
    <p>We are committed to protecting the information you provide. We ensure that appropriate steps are taken to prevent
      the disclosure, theft or unauthorised modification of your information. We understand how important it is to protect
      personal data and other sensitive information. This includes encrypting the data, as well as ensuring that data is
      sent via encrypted channels (such as Transport Layer Security).</p>
    <h2 class="heading-medium" id="further-information">Further information</h2>
    <p>GOV.UK Verify has been designed in accordance with the
      <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/361496/PCAG_IDA_Principles_3.1__4_.pdf">Identity
        Assurance Principles</a> prepared by the Cabinet Office
      <a href="https://www.gov.uk/government/groups/privacy-and-consumer-advisory-group">Privacy and Consumer Advisory Group</a>.
    <p>You can also find more detailed information about the service in the <a href="https://identityassurance.blog.gov.uk/">GOV.UK Verify Blog</a>.
    <h2 class="heading-medium" id="asking-to-see-your-personal-data">Asking to see your personal data</h2>
    <p>If you wish to see personal data that’s collected by a certified company or by a government service, you need to
      contact them directly.</p>
    <p>You can also ask to see the personal information that we hold about you. To do so, please email or write to us.
      There’s no charge for information provided. In very limited circumstances, we may withhold some information in
      accordance with Part II of the Data Protection Act 1998.</p>
    <h2 class="heading-medium" id="how-to-make-a-complaint">How to make a complaint</h2>
    <p>If you’re unhappy with the way GOV.UK Verify handles your personal data, you can email or write to us. You’ll get a
      confirmation within 5 working days that we have received your complaint and a full answer within 20 working days.
      We will inform you if there’s going to be a delay.</p>
    <p>If you’re unhappy with the answer you receive, or need any advice regarding the use of your personal data, you can
      contact the Information Commissioner’s Office (ICO), <a href="https://ico.org.uk/">https://ico.org.uk/</a>.
    <h2 class="heading-medium" id="contacting-us">Contacting us</h2>
    <p>GOV.UK Verify is a service provided by GDS, which is part of the Cabinet Office. The Cabinet Office is a registered
      data controller with the UK Information Commissioner’s Office, registration number Z7414053.</p>
    <p>You can contact us:</p>
    <p>
    <address>
      GOV.UK Verify User Support
      <br>
      Government Digital Service
      <br>
      Aviation House
      <br>
      125 Kingsway
      <br>
      London
      <br>
      WC2B 6SE
      <br>
      By email: <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a>
    </address>
    </p>
    <div class="meta-data group">
      <p class="modified-date">Last updated: 27 April 2016</p>
    </div>
  </div>
</div>
