<% content_for :page_title, 'Hysbysiad preifatrwydd' %>
<% content_for :page_title_in_english, 'Privacy notice' %>
<% content_for :head do
  tag('meta', :name => 'verify|title', :content => content_for(:page_title_in_english))
end %>
<% content_for :feedback_source, 'PRIVACY_NOTICE_PAGE' %>
<% content_for :show_to_search_engine, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Hysbysiad preifatrwydd</h1>
    <p>Diweddarwyd diwethaf: 18 Mehefin 2019</p>
    <h2 class="heading-large" id="who-we-are">Pwy ydym ni</h2>
    <p>Mae GOV.UK Verify wedi cael ei adeiladau ac yn cael ei redeg gan Gwasanaeth Digidol y Llywodraeth (GDS), sy'n rhan o Swyddfa'r Cabinet.</p>
    <p>Mae GOV.UK Verify yn caniatáu i chi brofi eich hunaniaeth wrth ddefnyddio gwasanaethau digidol y llywodraeth fel y gwasanaeth roeddech yn arfer <a href="https://www.gov.uk/cofrestru-ar-gyfer-a-chyflwynoch-ffurflen-dreth-hunanasesiad">mewngofnodi iddo a chyflwyno eich ffurflen dreth Hunanasesu.</a>.</p>
    <p>Mae GOV.UK Verify yn awr wedi cael ei estynnu i gydymffurfio â rheoliad eIDAS, sy'n caniatáu i ddefnyddwyr sydd â hunaniaeth ddigidol o rai gwledydd yr UE, cael mynediad i wasanaethau'r llywodraeth yn y DU. Mae hefyd yn caniatáu defnyddwyr sydd wedi profi eu hunaniaeth gyda GOV.UK Verify i gael mynediad at wasanaethau mewn rhai gwledydd yr UE.</p>
    <p>Mae'r hysbysiad preifatrwydd hwn yn egluro pa wybodaeth y gallwn ei chasglu, sut mae'n cael ei ddefnyddio a sut mae'n cael ei ddiogelu.</p>

    <h2 class="heading-large" id="what-data-we-collect">Pa ddata rydym yn ei gasglu</h2>
    <p>Rydym yn prosesu gwybodaeth amdanoch pan rydych yn defnyddio GOV.UK Verify. Gall hyn gynnwys unrhyw rai o'r canlynol:</p>

    <h3 class="heading-medium" id="how-personal-data-is-used-when-signing-in-with-gov.uk-verify">Sut y defnyddir data personol wrth ymuno â GOV.UK Verify</h3>
    <p>Mae GOV.UK Verify yn darparu ‘hyb’ rhwng gwasanaethau a chwmnïau sy'n cadarnhau hunaniaeth defnyddwyr ar ran y llywodraeth. Mae'r rhain yn cael ei alw'n ‘cwmnïau ardystiedig’. Maent wedi bodloni safonau'r llywodraeth a'r diwydiant er mwyn darparu gwasanaethau cadarnhau hunaniaeth fel rhan o GOV.UK Verify.</p>
    <p>Ar ôl i chi cael eich dilysu gan gwmni, byddant yn anfon eich data personol i'r hyb. Bydd yr hyb yna'n ei anfon i'r gwasanaeth y llywodraeth rydych am ei ddefnyddio.</p>
    <p>Efallai bydd y data personol hwn yn cynnwys eich:</p>
    <ol class="list-bullet list">
      <li>enw (gan gynnwys enwau blaenorol)</li>
      <li>cyfeiriad (a all gynnwys cyfeiriadau blaenorol)</li>
      <li>dyddiad geni</li>
      <li>oed (ystod)</li>
      <li>rhyw (dewisol)</li>
      <li>Cyfeiriad IP</li>
      <li>dynodwr personol (PID)</li>
    </ol>

    <h3 class="heading-medium" id="how-personal-data-is-used-when-signing-in-with-a-digital-identity-from-another-eu-country">Sut mae data personol yn cael ei ddefnyddio wrth fewngofnodi â hunainaeth ddigidol o wlad arall yr UE</h3>
    <p>Ar ôl eich hunaniaeth digidol o wlad arall yr UE cael ei ddilysu, byddwn yn casglu eich data personol a'i anfon i'r gwasanaeth y llywodraeth rydych am ei ddefnyddio. Rydym yn gwneud hwn er mwyn eich helpu i drafod yn ddiogel gyda gwasanaethau'r llywodraeth.</p>
    <p>Efallai bydd y data personol hwn yn cynnwys eich:</p>
    <ol class="list-bullet list">
      <li>enw teuluol</li>
      <li>enw cyntaf</li>
      <li>dyddiad geni</li>
      <li>adnabyddwr personol (PID)</li>
    </ol>

    <h3 class="heading-medium" id="how-personal-data-is-used-when-signing-in-with-gov.uk-verify-to-access-services-across-eu-member-states">Sut mae data personol yn cael ei ddefnyddio wrth fewngofnodi â GOV.UK Verify er mwyn cael mynediad i wasanaethau ledled Aelod-Wladwriaethau'r UE</h3>
    <p>Ar ôl i'ch hunaniaeth digidol gan GOV.UK Verify cael ei ddilysu, byddwn yn anfon eich data personol i'r gwasanaethau ledled Aelod-wladwriaethau'r UE rydych am ei defnyddio.</p>
    <p>Efallai bydd y data personol hwn yn cynnwys eich:</p>
    <ol class="list-bullet list">
      <li>enw teuluol</li>
      <li>enw cyntaf</li>
      <li>dyddiad geni</li>
      <li>rhif adnabod personol (PID)</li>
    </ol>

    <h3 class="heading-medium" id="user-support-questions-and-feedback">Cwestiynau cefnogi defnyddwyr ac adborth</h3>
    <p>Rydym yn prosesu cwestiynau neu adborth a anfonwch at gymorth defnyddwyr, gan gynnwys eich enw a'ch cyfeiriad e-bost, manylion eich ymholiad, a'r camau rydym wedi'u cymryd i helpu.</p>

    <h3 class="heading-medium" id="technical-information">Gwybodaeth dechnolegol</h3>
    <p>Efallai byddwn yn casglu gwybodaeth arall sydd ddim yn bersonol, yn awtomatig, fel:</p>
    <ol class="list-bullet list">
      <li>eich cyfeiriad IP (gall hyn fod yn gyfeiriad IP statig neu ddynamig a bydd weithiau'n pwyntio at gyfrifiadur neu ddyfais penodol)</li>
      <li>pa borwr a system gweithredu rydych yn ei ddefnyddio</li>
      <li>pa mor hir rydych wedi treulio ar dudalen penodol</li>
      <li>pa wefan y daethoch ohonno</li>
      <li>pa wefan yr aethoch iddo nesaf</li>
    </ol>
    <p>Mae'r wybodaeth hon yn ein helpu i ddeall sut rydych yn defnyddio GOV.UK Verify. Rydym yn ei ddefnyddio i ddod o hyd i ffyrdd y gallwn wella GOV.UK Verify i sicrhau ei fod yn gweithio i'r bobl sydd eu hangen.</p>

    <h2 class="heading-large" id="cookies-and-analytics">Cwcis a dadansoddiadau</h2>
    <p>Gallwch ddarllen ein <a href="https://www.signin.service.gov.uk/cwcis">hysbysiad cwci</a> llawn i ddarganfod sut rydym yn defnyddio cwcis.</p>

    <h2 class="heading-large" id="what-we-do-with-your-data">Beth rydym yn ei gwneud gyda'ch data</h2>
    <p>Efallai byddwn yn rhannu'r data rydym yn ei gasglu gyda:</p>
    <ol class="list-bullet list">
      <li>adrannau ac asiantaethau eraill o'r llywodraeth</li>
      <li>y cwmni a dilysodd eich hunaniaeth</li>
      <li>cyrff cyhoeddus eraill</li>
    </ol>
    <p>Rydym yn prosesu rhai data personol i helpu rhwystro twyll mewn gwasanaethau'r llywodraeth. Rydym yn gwneud hyn i sicrhau bod GOV.UK Verify yn bodloni safonau hunaniaeth llywodraeth y DU.</p>
    <p>Ni fyddwn yn:</p>
    <ol class="list-bullet list">
      <li>gwerthu neu rentu eich data i drydydd partïon</li>
      <li>rhannu eich data gyda trydydd partïon ar gyfer rhesymau marchnata</li>
    </ol>
    <p>Byddwn yn rhannu eich gwybodaeth os oes angen i ni wneud hyn yn unol â'r gyfraith, er enghraifft trwy orchymyn llys, neu i atal twyll neu drosedd arall.</p>

    <h2 class="heading-large" id="how-long-we-keep-your-data-for">Am ba mor hir rydym yn cadw eich data</h2>
    <p>Byddwn dim ond yn cadw eich data personol mor hir ag:</p>
    <ol class="list-bullet list">
      <li>y mae'r gyfraith yn gofyn i ni ei gadw</li>
      <li>y mae angen i ni ddarparu'r gwasanaeth hwn</li>
    </ol>

    <h2 class="heading-large" id="certified-companies-digital-id-schemes-in-other-european-countries-and-government-organisations">Cwmnïau ardystiedig, cynlluniau hunaniaeth digidol mewn gwledydd Ewropeaidd eraill a sefydliadau'r llywodraeth</h2>
    <p>Swyddfa'r Cabinet yw'r rheolwr data ar gyfer y data a brosesir gan GOV.UK Verify. Pan fydd y tudalennau hyn yn cysylltu â gwasanaethau a ddarperir gan sefydliadau eraill y llywodraeth, cynlluniau hunaniaeth ddigidol mewn gwledydd eraill yr UE a chwmnïau yr ydym yn bartner â nhw, bydd eu polisïau preifatrwydd eu hunain yn berthnasol. Rheolir y rhain gan bob darparwr gwasanaeth a nhw yw'r rheolwyr data ar gyfer y data y maent yn eu casglu. Ni ddisgrifir y dibenion hyn yn yr hysbysiad preifatrwydd hwn. Darllenwch eu polisïau preifatrwydd i ddarganfod sut maent yn prosesu eich data a sut i arfer eich hawliau o ran sut y maent yn ei wneud.</p>
    <p>Mae rheolwr data yn penderfynu sut a pham y prosesir data personol. Am ragor o wybodaeth, darllenwch gofnod Swyddfa'r Cabinet ar y <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">Gofrestr Cyhoeddus Diogelu Data</a>.</p>

    <h2 class="heading-large" id="where-your-data-is-stored">Lle mae eich data yn cael ei storio</h2>
    <p>Mae GOV.UK Verify yn prosesu eich data personol yn yr Ardal Economaidd Ewropeaidd (AEE).</p>

    <h2 class="heading-large" id="your-rights">Eich hawliau</h2>
    <p>Mae gennych hawl i ofyn:</p>
    <ol class="list-bullet list">
      <li>am wybodaeth sut mae'ch data personol yn cael ei brosesu ac i ofyn am gopi o'r data personol rydych wedi ei roi i ni</li>
      <li>bod unrhyw wallau am eich data personol yn cael ei gywiro heb oedi</li>
      <li>bod unrhyw data personol anghyflawn yn cael ei gwblhau, gan gynnwys trwy'r dull o ddatganiad atodol</li>
      <li>bod eich data personol yn cael ei ddileu os nad oes bellach cyfiawnhad i ni ei gadw</li>
      <li>bod prosesu eich data personol yn cael ei gyfyngu mewn amgylchiadau penodol, er enghraifft pan fydd amheuaeth cywrideb</li>
    </ol>
    <p>Os bydd eich data personol yn cael ei brosesu ar sail caniatâd, yna mae gennych yr hawl i dynnu eich caniatâd yn ôl ar unrhyw adeg.</p>

    <h2 class="heading-large" id="links-to-other-websites">Dolenni i wefannau eraill</h2>
    <p>Mae GOV.UK Verify yn un o'r gwasanaethau ar GOV.UK ac mae ganddo gysylltiadau â gwefannau eraill.</p>
    <p>Dim ond i <a href="https://www.gov.uk/government/publications/introducing-govuk-verify">GOV.UK Verify</a> mae'r hysbysiad preifatrwydd hwn yn berthnasol ac nid yw'n cwmpasu gwasanaethau a thrafodion eraill y llywodraeth rydym yn cysylltu â hwy.</p>

    <h2 class="heading-large" id="identity-assurance-principles-when-signing-in-with-gov-uk-verify">Egwyddorion Sicrwydd Hunaniaeth wrth ymuno â GOV.UK Verify</h2>
    <p>Mae GOV.UK Verify wedi'i ddylunio i gydymffurfio â'r <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/361496/PCAG_IDA_Principles_3.1__4_.pdf">Egwyddorion Sicrwydd Hunaniaeth</a> a baratowyd gan <a href="https://www.gov.uk/government/groups/privacy-and-consumer-advisory-group">Grŵp Preifatrwydd a Chynghori Defnyddwyr</a> y Cabinet.</p>
    <p>Gallwch hefyd ddod o hyd i wybodaeth fanylach am y gwasanaeth ar <a href="https://identityassurance.blog.gov.uk/">flog GOV.UK Verify</a>.</p>

    <h2 class="heading-large" id="childrens-privacy-protection">Gwarchod preifatrwydd plant</h2>
    <p>Rydym yn deall y pwysigrwydd o diogelu preifatrwydd plant ar-lein. Nid yw GOV.UK Verify wedi'i gynllunio, na wedi'i dargedu'n fwriadol ar gyfer plant 13 oed neu iau. Nid ein polisi ni yw casglu neu gynnal data yn fwriadol am unrhyw un dan 13 oed.</p>

    <h2 class="heading-large" id="how-we-protect-your-data-and-keep-it-secure">Sut rydym yn gwarchod eich data a'i gadw'n ddiogel</h2>
    <p>Rydym wedi ymrwymo i wneud popeth a allwn i gadw'ch data'n ddiogel. Er mwyn atal mynediad neu ddatgelu heb ganiatâd, rydym wedi rhoi gweithdrefnau technegol a threfniadol ar waith i sicrhau'r data a gasglwn amdanoch chi - er enghraifft, rydym yn diogelu eich data drwy ddefnyddio lefelau amgryptio amrywiol.</p>
    <p>Rydym hefyd yn sicrhau bod gan unrhyw drydydd parti rydym yn delio â hwy rwymedigaeth i gadw'r holl ddata personol y maent yn ei brosesu ar ein rhan yn ddiogel.</p>

    <h2 class="heading-large" id="changes-to-this-notice">Newidiadau i'r hysbysiad hwn</h2>
    <p>Efallai byddwn yn newid yr hysbysiad preifatrwydd hwn. Mewn achos o'r fath, bydd y dyddiad 'diweddarwyd diwethaf' sydd ar waelod y dudalen hon yn newid. Bydd unrhyw newidiadau i'r hysbysiad perifatrwydd hwn yn gymwys i chi a'ch data o'r dyddiad hwnnw.</p>
    <p>Rydym yn eich annog i adolygu'r rhybudd preifatrwydd hwn yn rheolaidd i aros yn wybodus am sut rydym yn diogelu'ch data.</p>

    <h2 class="heading-medium" id="how-to-contact-us-or-make-a-complaint">Sut i gysylltu â ni neu wneud cwyn</h2>
    <p>Gallwch gysylltu â'r Tîm Preifatrwydd Verify yn <a href="mailto:verify-privacy@digital.cabinet-office.gov.uk">verify-privacy@digital.cabinet-office.gov.uk</a> os ydych:</p>
    <ol class="list-bullet list">
      <li>â chwestiwn am unrhyw beth yn yr hysbysiad preifatrwydd</li>
      <li>yn credu bod eich data personol wedi cael ei gamddefnyddio neu ei gam-drin</li>
    </ol>
    <p>Gallwch hefyd gysylltu â Swyddog Diogelu Data (DPO) y Swyddfa Gartref yn <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a>.</p>
    <p>Neu drwy'r post yn:</p>
    <p>
    <address>
      Data Protection Officer
      <br>
      Cabinet Office
      <br>
      70 Whitehall
      <br>
      London SW1A 2AS
    </address>
    </p>
    <p>Mae'r DPO yn darparu cyngor annibynnol a monitro am ein defnydd o wybodaeth personol.</p>

    <p>Gallwch gwyno i Swyddfa'r Comisynydd Gwybodaeth (ICO), sydd yn rheoleiddwr annibynnol.</p>

    <p>
      ICO<br>
      <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br>
      Ffôn: 0303 123 1113<br>
      Ffôn testun: 01625 545 860<br>
      Dydd Llun i ddydd Gwener, o 9am i 4:30pm
    </p>

    <p><a href="https://www.gov.uk/call-charges">Darganfyddwch am gostau galwadau</a>.</p>

    <p>
    <address>
      Information Commissioner's Office
      <br>
      Wycliffe House
      <br>
      Water Lane
      <br>
      Wilmslow
      <br>
      Cheshire SK9 5AF
    </address>
    </p>
    <div class="meta-data group">
      <p class="modified-date">Diweddarwyd diwethaf: 18 Mehefin 2019</p>
    </div>
  </div>
</div>
