<% content_for :page_title, 'Privacy notice' %>
<% content_for :page_title_in_english, 'Privacy notice' %>
<% content_for :head do
  tag('meta', :name => 'verify|title', :content => content_for(:page_title_in_english))
end %>
<% content_for :feedback_source, 'PRIVACY_NOTICE_PAGE' %>
<% content_for :show_to_search_engine, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Privacy notice</h1>
    <p>Last updated: 20 September 2019</p>
 <h2 class="heading-large" id="who-we-are">Who we are</h2>

<p>GOV.UK Verify is built and run by the Government Digital Service (GDS), which is part of the Cabinet Office.</p>
 
<p>GOV.UK Verify allows you to prove your identity when using digital government services, like the service you use to <a href="https://www.gov.uk/log-in-file-self-assessment-tax-return">file your Self Assessment tax return</a>.</p>

<p>GOV.UK Verify also meets the eIDAS regulation, which lets users with digital identities from some EU countries access government services in the UK. It also lets users who have proved their identity with GOV.UK Verify access services in some EU countries.</p>

<p>GOV.UK Verify has been designed to meet the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/361496/PCAG_IDA_Principles_3.1__4_.pdf">Identity Assurance Principles</a>, written by the Cabinet Office <a href="https://www.gov.uk/government/groups/privacy-and-consumer-advisory-group">Privacy and Consumer Advisory Group</a>.</p>

<p>You can find more detailed information about GOV.UK Verify on the <a href="https://gds.blog.gov.uk/category/id-assurance/">GOV.UK Verify blog</a>.</p>

<p>This privacy notice explains what data we might collect, how it's used and how it's protected.</p>

<h2 class="heading-large" id="what-data-we-collect">What data we collect</h2>

<p>We collect personal data from you when you:</p>
<ol class="list-bullet list">
  <li>sign in to a service with GOV.UK Verify</li>
  <li>sign in to a service with a digital identity from an EU country</li>
  <li>send us questions or feedback</li>
</ol>

<h3 class="heading-large" id="when-you-sign-in-with-govuk-verify">When you sign in with GOV.UK Verify</h3>

<p>GOV.UK Verify provides a 'hub' between services and companies that prove users' identities on behalf of the government. These companies have met government and industry standards to check and prove users' identities as part of GOV.UK Verify.</p>

<p>After the company proves your identity, they send limited personal data they collect to the hub. The hub will then send it to the service you want to use.</p>

<p>This personal data might include your:</p>
<ol class="list-bullet list">
  <li>name (including any previous names)</li>
  <li>address (including any previous addresses)</li>
  <li>date of birth</li>
  <li>age range</li>
  <li>gender (this is usually optional)</li>
  <li>IP address</li>
  <li>persistent identifier (PID) - this is given to you by the company that proved your identity</li>
</ol>

<p>If you use GOV.UK Verify to sign in to a service in an EU country, the hub will send limited personal data it collects to the service you want to use.</p>

<p>This personal data might include your:</p>
<ol class="list-bullet list">
  <li>family name</li>
  <li>first name</li>
  <li>date of birth</li>
  <li>PID</li>
</ol>

<h3 class="heading-large" id="when-you-sign-in-with-a-digital-identity-from-an-eu-country">When you sign in with a digital identity from an EU country</h3>

<p>After you've signed in, we'll collect your personal data and send it to the government service that you want to use. We do this to help protect your identity when you use government services.</p>

<p>This personal data might include your:</p>
<ol class="list-bullet list">
  <li>family name</li>
  <li>first name</li>
  <li>date of birth</li>
  <li>PID</li>
</ol>

<h3 class="heading-large" id="when-you-send-us-a-question-or-feedback">When you send us a question or feedback</h3>

<p>We keep any questions or feedback you send about GOV.UK Verify, as well as details about what we've done to help. We'll also keep some personal data, such as your name and email address.</p>

<h2 class="heading-large" id="cookies-and-analytics">Cookies and analytics</h2>

<p>We use Matomo to collect information about how you use GOV.UK Verify.</p>

<p>Matomo stores information about:</p>
<ol class="list-bullet list">
  <li>which pages you visit</li>
  <li>how long you spend on each page</li>
  <li>how you got to the site</li>
  <li>what you click on while you're visiting the site</li>
</ol>

<p>We do not store any of your personal data on our analytics system.</p>

<p>GOV.UK Verify puts small files (known as 'cookies') onto your computer. Read our full <a href="https://www.signin.service.gov.uk/cookies">cookie notice</a> to find out how we use cookies.</p>

<p>To protect GOV.UK Verify from crime and fraud, we might sometimes share your personal data with:</p>
<ol class="list-bullet list">
  <li>law enforcement agencies</li>
  <li>public sector organisations, for example the Cabinet Office, Home Office and others</li>
  <li>relevant private sector organisations</li>
</ol>

<p>This personal data might include your:</p>
<ol class="list-bullet list">
  <li>family name</li>
  <li>first name</li>
  <li>date of birth</li>
  <li>PID</li>
  <li>phone number</li>
  <li>biometric information</li>
  <li>email addresses</li>
  <li>address</li>
</ol>

<h2 class="heading-large" id="what-we-do-with-your-data">What we do with your data</h2>

<p>We might share the data we collect with:</p>
<ol class="list-bullet list">
  <li>other government departments and agencies</li>
  <li>the company who verified your identity</li>
  <li>other public bodies</li>
</ol>

<p>We will not:</p>
<ol class="list-bullet list">
  <li>sell your data to third parties</li>
  <li>share your data with third parties for marketing purposes</li>
</ol>

<h2 class="heading-large" id="legal-basis-for-using-your-data">Legal basis for using your data</h2>

<p>The legal basis for processing your personal data is that it's necessary to perform a task in the public interest.</p>

<p>Sometimes, you will need to give your consent before any personal data is processed. In that case, you have the right to withdraw your consent at any time.</p>

<h2 class="heading-large" id="how-long-we-keep-your-data-for">How long we keep your data for</h2>

<p>We will only keep your personal data for as long as:</p>
<ol class="list-bullet list">
<li>it's needed for the purposes set out in this privacy notice</li>
<li>the law requires us to</li>
</ol>

<h2 class="heading-large" id="who-controls-your-data">Who controls your data</h2>

<p>Cabinet Office is the data controller for the data processed by GOV.UK Verify. A data controller determines how and why personal data is processed. For more information, read the Cabinet Office's entry in the <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">Data Protection Public Register</a>.</p>

<h2 class="heading-large" id="where-your-data-is-stored">Where your data is stored</h2>

<p>GOV.UK Verify stores your personal data in the European Economic Area (EEA).</p>

<h2 class="heading-large" id="your-rights">Your rights</h2>

<p>You have the right to request:</p>
<ol class="list-bullet list">
  <li>information about how your personal data is processed</li>
  <li>a copy of any personal data you've given to us</li>
  <li>that anything inaccurate in your personal data is corrected immediately</li>
  <li>that any incomplete personal data is completed - you can do this by sending us a 'supplementary statement' that explains what's wrong with the data we've collected</li>
  <li>that your personal data is deleted if there's no longer a reason for us to hold it</li>
  <li>that the processing of your personal data is restricted in certain circumstances, for example if we've collected inaccurate information</li>
</ol>

<h2 class="heading-large" id="links-to-other-websites">Links to other websites</h2>

<p>GOV.UK Verify is one of the services on GOV.UK and has links to other websites.</p>

<p>This privacy notice only applies to <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">GOV.UK Verify</a> and doesn't cover other government services, companies or digital identity schemes that we link to. Read their own terms and conditions, privacy policies and data controllers if you want to find out how they process your personal data.</p>

<h2 class="heading-large" id="childrens-privacy-protection">Children's privacy protection</h2>

<p>We understand the importance of protecting children's privacy online. GOV.UK Verify is not designed for or intentionally targeted at children that are 13 or younger. We will not intentionally collect or keep data about anyone under the age of 13.</p>

<h2 class="heading-large" id="how-we-protect-your-data-and-keep-it-secure">How we protect your data and keep it secure</h2>

<p>We're committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data. For example, we protect your data using varying levels of encryption.</p>
 
<p>We also make sure that any third parties that we deal with have an obligation to keep all personal data they process on our behalf secure.</p>

<h2 class="heading-large" id="changes-to-this-notice">Changes to this notice</h2>

<p>We may change this privacy notice. In that case, the 'last updated' date at the bottom of this page will change. Any changes to this privacy notice will apply to you and your data as of that date.</p>

<p>We encourage you to review this privacy notice regularly to find out how we are protecting your data.</p>

<h2 class="heading-large" id="contact-us-or-make-a-complaint">Contact us or make a complaint</h2>

<p>You can contact the GOV.UK Verify Privacy Team at <a href="mailto:verify-privacy@digital.cabinet-office.gov.uk">verify-privacy@digital.cabinet-office.gov.uk</a> if you:</p>
<ol class="list-bullet list">
  <li>have a question about anything in the privacy notice</li>
  <li>think that your personal data has been misused or mishandled</li>
</ol>

<h2 class="heading-large" id="contact-an-independent-body">Contact an independent body</h2>

<p>You can contact the Cabinet Office Data Protection Officer (DPO), which provides independent advice and monitoring of our use of personal data.</p>

<p>
<b>Cabinet Office Data Protection Officer</b>
<br>
<a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a>
<br>
</p>

<p>
<address>
Data Protection Officer
<br>
Cabinet Office
<br>
70 Whitehall
<br>
London SW1A 2AS
</address>
</p>

<p>You can also make a complaint to the Information Commissioner's Office (ICO), who is an independent regulator.</p>

   <p>
     <b>ICO</b><br>
      <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br>
      Telephone: 0303 123 1113<br>
      Textphone: 01625 545 860<br>
      Monday to Friday, from 9am to 4:30pm<br>
    </p>

<p><a href="https://www.gov.uk/call-charges">Find out about call charges</a>.</p>

 <p>
    <address>
      Information Commissioner’s Office
      <br>
      Wycliffe House
      <br>
      Water Lane
      <br>
      Wilmslow
      <br>
      Cheshire SK9 5AF
    </address>
    </p>

    <div class="meta-data group">
      <p class="modified-date">Last updated: 20 September 2019</p>
    </div>
  </div>
</div>
