<%= page_title 'hub.verify_services.title' %>

<% content_for :feedback_source, 'VERIFY_SERVICES_PAGE' %>
<% content_for :show_to_search_engine, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t 'hub.verify_services.heading' %></h1>
    <p><%= t 'hub.verify_services.message' %></p>
    <%= render partial: 'shared/transaction_list' %>
  </div>
</div>
