<% transactions = transactions_list %>
<% if transactions.any? %>
    <h2 class="heading-medium">Find the service you were using to start again</h2>
    <ul>
      <% transactions.public.each do |transaction| -%>
          <li><%= link_to transaction.name, transaction.homepage %></li>
      <% end %>
      <% transactions.private.each do |transaction| -%>
          <li><%= transaction.name %></li>
      <% end %>
    </ul>
<% end %>