<% content_for :page_title, 'Your session has timed out' %>
<% content_for :feedback_source, 'EXPIRED_ERROR_PAGE' %>
<% content_for :piwik_custom_path, '/errors/timeout-error' %>

<h1 class="heading-xlarge">Your session has timed out</h1>
<%= render partial: 'errors/transaction_list' %>
<p>Use the <%= link_to "feedback form", "/feedback", :query => {"feedback-source" =>'expired error page'} %> to ask a question, report a problem or suggest an improvement.</p>
