<% content_for :page_title, 'Cookies Missing' %>
<% content_for :feedback_source, 'COOKIE_NOT_FOUND_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">GOV.UK Verify</h1>
    <p> GOV.UK Verify can only be accessed from a government service.</p>
    <h2 class="heading-medium">Find the service you want to use</h2>
    <%#include transactions %>
    <p>Read the <a href="https://www.gov.uk/verify">Introduction to GOV.UK Verify</a> for more information.</p>
    <p class="panel-indent">If you can't access GOV.UK Verify from a service, enable your cookies.</p>
  </div>
</div>

