<% content_for :page_title, 'Your session has timed out' %>
<% content_for :feedback_source, 'EXPIRED_ERROR_PAGE' %>
<h1 class="heading-xlarge">Your session has timed out</h1>
<h2 class="heading-medium">Please go back to your service to start again.</h2>
<p><%= link_to 'Start again', '/redirect-to-service/error' %></p>
<p>Use the <%= link_to "feedback form", "/feedback", :query => {"feedback-source" =>'expired error page'} %>
  to ask a question, report a problem or suggest an improvement.</p>
