<% content_for :page_title, 'Something went wrong' %>
<% content_for :feedback_source, 'ERROR_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Sorry, something went wrong</h1>
    <p>This may be because your session timed out or there was a system error.</p>
    <p>Because this is a secure service, you'll need to start again.</p>
    <% transactions = transactions_list %>
    <% if transactions.any? %>
        <h2 class="heading-medium">Find the service you were using to start again</h2>
        <ul>
          <% transactions.public.each do |transaction| -%>
              <li><%= link_to transaction.name, transaction.homepage %></li>
          <% end %>
          <% transactions.private.each do |transaction| -%>
              <li><%= transaction.name %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
