<% content_for :page_title, 'Something went wrong - GOV.UK Verify - GOV.UK' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Sorry, something went wrong</h1>
    <p>This may be because your session timed out or there was a system error.</p>
    <p>Because this is a secure service, you'll need to start again.</p>
    <h2 class="heading-medium">Find the service you were using to start again</h2>
    <%# TODO include transactions %>
  </div>
</div>
