<% content_for :page_title, 'Something went wrong' %>
<% content_for :feedback_source, 'ERROR_PAGE' %>
<% content_for :piwik_custom_path, 'errors/generic-error' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Sorry, something went wrong</h1>
    <p>This may be because your session timed out or there was a system error.</p>
    <p>Because this is a secure service, you'll need to start again.</p>
    <%= render partial: 'errors/transaction_list' %>
  </div>
</div>
