<%= page_title 'hub.other_ways_heading', other_ways_description: @other_ways_description %>
<% content_for :feedback_source, :OTHER_WAYS_PAGE %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t 'hub.other_ways_heading', other_ways_description: @other_ways_description %></h1>
    <div class="other-ways-to-complete-transaction">
      <%= raw @other_ways_text %>
    </div>
  </div>
</div>
