<%= page_title 'hub.other_ways_title' %>
<% content_for :feedback_source, 'OTHER_WAYS_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.other_ways_heading', other_ways_description: @other_ways_description %></h1>
    <div class="other-ways-to-complete-transaction">
      <%= @other_ways_text.html_safe %>
    </div>
  </div>
</div>
