<% if user_has_no_docs? %>
    <%= idp.special_no_docs_instructions.html_safe %>
<% end %>

<p><%= t 'hub.redirect_to_idp_warning.recommended.p1', name: idp.display_name %></p>
<p><%= t 'hub.redirect_to_idp_warning.recommended.p2' %></p>
