<%= page_title 'hub.about.title' %>
<% content_for :feedback_source, 'ABOUT_PAGE' %>
<% # Uses slide layout %>

<p><%= t 'hub.about.verify_is_a_service' %></p>
<div><%= raw @tailored_text %></div>

<div class="actions">
  <%= button_link_to t('navigation.next'), about_certified_companies_path, id: 'next-button', class: "govuk-button verify-inverse-btn"%>
</div>
