<%= page_title 'hub.about.title' %>
<% content_for :feedback_source, 'ABOUT_PAGE' %>

<p><%= t 'hub.about.verify_is_a_service' %></p>
<%= @tailored_text.html_safe %>

<div class="actions">
  <%= button_link_to t('navigation.next'), next_page, id: 'next-button' %>
</div>
