<%= page_title 'hub.about.prove_your_identity_another_way.heading' %>
<% content_for :feedback_source, :PROVE_YOUR_IDENTITY_ANOTHER_WAY_PAGE %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("hub.about.prove_your_identity_another_way.heading") %></h1>
    <p class="govuk-body"><%= t("hub.about.prove_your_identity_another_way.sub_heading", service_name: @service_name) %></p>
      <div class="other-ways-to-complete-transaction">
        <%= raw @other_ways_text %>
      </div>
  </div>
</div>
