// Import GOV.UK frontend toolkit
@import "govuk-elements";

// Helpers for common page elements
@import "helpers/available-languages";
@import "helpers/validation-message";
@import "helpers/meta-data";
@import "helpers/feedback-link";
@import "helpers/verify-logo";
@import "helpers/js-show";
@import "helpers/modal-dialog";

// Specific pages
@import "pages/slides";
@import "pages/company";
@import "pages/select-documents";
@import "pages/config-provided-html";
@import "pages/select-phone";
@import "pages/choose-a-certified-company";
@import "pages/confirm-your-identity";
@import "pages/cookies";
@import "pages/privacy-notice";
@import "pages/response-processing";
@import "pages/feedback";
@import "pages/choose-a-country";
@import "pages/failed-uplift";
@import "pages/logos-container";
@import "pages/feedback-landing";

// Temporary overrides to resolve some accessibility issues
@import "helpers/overrides";