// Place all the styles related to the components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app-certificate-tag-expiring .govuk-tag {
  background-color: $warning-colour;
}
.app-certificate-tag-deploying .govuk-tag {
  border: 2px solid govuk-colour("dark-grey");
  background-color: govuk-colour("white");
  color: govuk-colour("dark-grey");
}
.app-certificate-tag .govuk-tag {
  float: right;
}
.side-navigation ul .active {
  font-weight: bold;
}
.side-navigation ul li a {
  text-decoration: none;
}
.app-table__body--noheading { 
  border-top: 1px solid $govuk-border-colour 
}