// Custom radio buttons & checkboxes
.block-label {
  background-color: transparent;
  border: 0;

  [type="checkbox"],
  [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 50px;
    width: 1px;
  }

  [type="checkbox"] + span,
  [type="radio"] + span {
    position: absolute;
    left: 17px;
    top: 14px;
    background: $white;
    display: inline-block;
    border: 2px solid $black;
    @include border-radius(20px);
    @include media(tablet) {
      width: 25px;
      height: 25px;
      left: 14px;
      top: 16px;
    }

    .inner {
      display: inherit;
      @include border-radius(20px);
      border: 3px solid $white;
      width: 16px;
      height: 16px;

      @include media(tablet) {
        width: 19px;
        height: 19px;
      }
    }
  }

  [type="checkbox"] + span {
    @include border-radius(0);
    .inner {
      @include border-radius(0);
    }
  }

  [type="radio"]:focus + span,
  [type="checkbox"]:focus + span {
    .inner {
      border-color: $yellow;
    }
  }

  &.selected [type="radio"] + span,
  [type="radio"]:checked + span {
    background: $black;
  }

  &.selected [type="checkbox"] + span,
  [type="checkbox"]:checked + span {
    .inner {
      background: image-url('icons/checkbox-tick-mobile.png') 0 0 no-repeat;

      @include media(tablet) {
        background: image-url('icons/checkbox-tick.png') 0 0 no-repeat;
      }
    }
  }
}


// manage images for IE 6-9 radios and checkboxes
@include ie-lte(9) {
  .block-label {

    input {
      position: absolute;
      top: 16px;
      left: -1000px;
      cursor: pointer;
    }

    input[type="radio"] + span,
    input[type="checkbox"] + span {
      border: none;
      width: 25px;
      height: 25px;

      .inner {
        display: none;
      }
    }

    [type="radio"] + span {
      background: image-url('icons/radio-buttons.png') 0 -50px no-repeat;
    }

    [type="checkbox"] + span {
      background: image-url('icons/checkboxes.png') 0 -25px no-repeat;
    }

    &.selected {
      [type="radio"] + span {
        background: image-url('icons/radio-buttons.png') 0 -75px no-repeat;
      }

      [type="checkbox"] + span {
        background: image-url('icons/checkboxes.png') 0 0 no-repeat;
      }
    }
  }
}



// Selected and focused states

// Add selected state
.js-enabled .selected:hover {
  background-color: $yellow;
}

//Add focus to block labels
.js-enabled .block-label.focused {
  outline: 3px solid $yellow;

  [type="radio"]:focus + span,
  [type="checkbox"]:focus + span {
    .inner {
      border-color: $white;
    }
  }
}

// Remove focus from radio/checkboxes
.js-enabled .focused input:focus {
  outline: none;
}

