// Place all the styles related to the user journey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.component-supporting-text {
  font-weight: 300;
}
.govuk-details__code {
  background-color: govuk-colour("light-grey");
  border: 1px solid $govuk-border-colour;
  overflow-x: auto;
  word-wrap: break-word;

  pre {
    margin-top: 0;
  }
}
.secondary-link {
  display: inline-block;
  padding: 9px 10px 6px 10px;
  font-size: 1.1875rem;
}
.secondary-link__confirmation {
  padding: 9px 10px 6px 0px;
}
.certificate-details {
  margin: 8px 0 25px;
  dd {
    @extend %govuk-body-s;
    background-color: #dee0e2;
    margin: 0 5px 0 0;
    display: inline;
    padding: 3px 8px 4px;
  }
}
dt {
  display: block;
}
.govuk-error-summary--grey {
  border-color: $govuk-border-colour;
}
.govuk-error-summary--orange {
  border-color: $warning-colour;
}
.govuk-hint__black {
  color: $govuk-text-colour;
}
.email-wrapper {
  word-break: break-all;
}
