/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 $govuk-global-styles: true;
 $govuk-images-path: "govuk-frontend/govuk/assets/images/";
 $govuk-fonts-path: "govuk-frontend/govuk/assets/fonts/";
 @import "govuk-frontend/govuk/all";

 $warning-colour: #CB4B0B;

 @import "components";
 @import "events";
 @import "user_journey";
 @import "users";
 @import "admin";
 @import "helpers/verify-logo.scss";
 @import "helpers/available-languages.scss";