.validation-message {
  padding-top: 15px;
  padding-bottom: 15px;
  color: $govuk-error-colour;
  font-weight: bold;

  .form-group-error,
  .form-group-error:focus {
    display: block;
    padding: 15px;
    margin: 15px 0;
    color: $govuk-error-colour;
    background: transparent;
    font-weight: bold;
    text-decoration: none;
  }
}

// Fields that were hidden by JS but marked
// as validation errors should always be visible:
.js-hidden.form-group-error {
  display: block;
  visibility: visible;
}

#footer,
#footer .footer-wrapper,
#footer .footer-meta {
  color: #0b0c0c !important;
  background: #f3f2f1 !important;
}

.verify-inverse {
  color: govuk-colour("white");
}

.verify-inverse-btn {
  color: $govuk-brand-colour;
  background-color: govuk-colour("white");
}

.verify-inverse-btn:hover {
  color: $govuk-brand-colour;
  background-color: govuk-colour("light-grey");
}

.hidden {
  display: none;
  visibility: hidden;
}

.pin-to-top {
  margin-top: -2.5em;
  float: right;
}

.js-hidden {
  display: none;
}

.idp-btn-nudge {
  margin-top: 30px !important;
}