<%= page_title 'hub.feedback_disabled.title' %>

<div class="grid-row">
  <div class="column-two-thirds">

    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

      <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        <%= t 'hub.feedback_disabled.heading' %>
      </h1>

      <p> <%= t 'hub.feedback_disabled.error_content' %> </p>

    </div>
  </div>
</div>