<%= page_title 'hub.feedback_disabled.title' %>


<div class="govuk-grid-column-three-quarters">

  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

    <h1 class="govuk-heading-m error-summary-heading" id="error-summary-heading-example-1">
      <%= t 'hub.feedback_disabled.heading' %>
    </h1>

    <p> <%= t 'hub.feedback_disabled.error_content' %> </p>

  </div>
</div>
